In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [ ]:
# xlrd, openpyxl

In [2]:
# conda install xlrd
# conda install openpyxl

In [ ]:
# read_excel()

In [3]:
xl = pd.read_excel('example1.xlsx', sheetname='Sheet1')

In [4]:
xl

    a   b   c   d programming
0  21  22  23  24      python
1  45  46  47  48        java
2  57  58  59  60        ruby

In [5]:
x = pd.ExcelFile('excel_example.xlsx')

In [6]:
xl = pd.read_excel(x, 'Sheet1')

In [7]:
xl

    a   b   c   d programming
0  21  22  23  24      python
1  45  46  47  48        java
2  57  58  59  60        ruby

In [8]:
x2 = pd.read_excel(x, 'Sheet2')

In [9]:
x2

    a   b   c   d programming
0  21  22  23  24      python
1  45  46  47  48        java
2  57  58  59  60        ruby
3  45  33  55  66       scala
3  32  11   6  77       julia
1  45  46  47  48        .net
2  57  58  59  60         c++
3  45  33  55  66           r
3  32  11   6  77  javascript

In [ ]:
# with as xx

In [10]:
with pd.ExcelFile('excel_example.xlsx') as xlsx:
    sheet1 = pd.read_excel(xlsx, 'Sheet1')
    sheet2 = pd.read_excel(xlsx, 'Sheet2')

In [11]:
sheet1

    a   b   c   d programming
0  21  22  23  24      python
1  45  46  47  48        java
2  57  58  59  60        ruby

In [12]:
sheet2

    a   b   c   d programming
0  21  22  23  24      python
1  45  46  47  48        java
2  57  58  59  60        ruby
3  45  33  55  66       scala
3  32  11   6  77       julia
1  45  46  47  48        .net
2  57  58  59  60         c++
3  45  33  55  66           r
3  32  11   6  77  javascript