In [1]:
pwd

u'/Users/samishumiye'

In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.read_csv('example1.csv')

    a   b   c   d programming
0  11  12  13  14      python
1  51  61  71  81        java
2  92  19  21  32        ruby

In [4]:
data = pd.read_csv('example1.csv')

In [5]:
data.head()

    a   b   c   d programming
0  11  12  13  14      python
1  51  61  71  81        java
2  92  19  21  32        ruby

In [6]:
pd.read_csv('example1.csv', header=None)

    0   1   2   3            4
0   a   b   c   d  programming
1  11  12  13  14       python
2  51  61  71  81         java
3  92  19  21  32         ruby

In [8]:
pd.read_csv('example2.csv', header=None)

    0   1   2   3       4
0  11  12  13  14  python
1  51  61  71  81    java
2  92  19  21  32    ruby

In [9]:
pd.read_csv('example2.csv', header=None, names=['cola', 'colb','col_c', 'col_d','prog_lang'])

   cola  colb  col_c  col_d prog_lang
0    11    12     13     14    python
1    51    61     71     81      java
2    92    19     21     32      ruby

In [10]:
col_names=['cola', 'colb','col_c', 'col_d','prog_lang']

In [11]:
pd.read_csv('example2.csv', header=None, names=col_names)

   cola  colb  col_c  col_d prog_lang
0    11    12     13     14    python
1    51    61     71     81      java
2    92    19     21     32      ruby

In [12]:
pd.read_csv('example2.csv', header=None, names=col_names, index_col='prog_lang')

           cola  colb  col_c  col_d
prog_lang
python       11    12     13     14
java         51    61     71     81
ruby         92    19     21     32

In [13]:
pd.read_csv('index_col_example.csv')

     key1 key2  value1  value2
0   first    a      11      12
1   first    b      33      44
2   first    c      55      66
3   first    d      57      58
4  second    a      19      20
5  second    b      14      15
6  second    c      28      29
7  second    d      38      39

In [15]:
pd.read_csv('index_col_example.csv', index_col=['key1', 'key2'])

             value1  value2
key1   key2
first  a         11      12
       b         33      44
       c         55      66
       d         57      58
second a         19      20
       b         14      15
       c         28      29
       d         38      39

# read_csv, read_table, skipping rows

In [18]:
pd.read_csv('example1.csv')

    a   b   c   d programming
0  11  12  13  14      python
1  51  61  71  81        java
2  92  19  21  32        ruby

In [ ]:
# sep

In [19]:
pd.read_table('example1.csv', sep=',')

    a   b   c   d programming
0  11  12  13  14      python
1  51  61  71  81        java
2  92  19  21  32        ruby

In [20]:
pd.read_table('example1.csv', sep=',', header=None)

    0   1   2   3            4
0   a   b   c   d  programming
1  11  12  13  14       python
2  51  61  71  81         java
3  92  19  21  32         ruby

In [22]:
pd.read_table('example2.csv', sep=',', header=None, names=['aa','bb','cc','dd','prog_lang'])

   aa  bb  cc  dd prog_lang
0  11  12  13  14    python
1  51  61  71  81      java
2  92  19  21  32      ruby

In [23]:
pd.read_csv('example3.txt')

              A         B         C
0  aa -0.123456 -1.012345 -0.654123
1  bb  0.653241  0.334455 -0.078965
2  cc -0.222222 -0.996314 -0.114455
3  dd -0.666663 -0.666555  1.745899

In [24]:
pd.read_table('example3.txt', sep='\s+')

           A         B         C
aa -0.123456 -1.012345 -0.654123
bb  0.653241  0.334455 -0.078965
cc -0.222222 -0.996314 -0.114455
dd -0.666663 -0.666555  1.745899

In [25]:
pd.read_csv('example4.csv')

                                                       # This is a csv file
a                                          b   c   d            programming
# what if we have some lines we don't need NaN NaN NaN                  NaN
# we can use skip rows                     NaN NaN NaN                  NaN
11                                         12  13  14                python
51                                         61  71  81                  java
# yet another row to skip                  NaN NaN NaN                  NaN
92                                         19  21  32                  ruby
# this will be the last row to skip        NaN NaN NaN                  NaN

In [26]:
pd.read_csv('example4.csv', skiprows=[0,2])

                                     a     b     c     d programming
0               # we can use skip rows   NaN   NaN   NaN         NaN
1                                   11  12.0  13.0  14.0      python
2                                   51  61.0  71.0  81.0        java
3            # yet another row to skip   NaN   NaN   NaN         NaN
4                                   92  19.0  21.0  32.0        ruby
5  # this will be the last row to skip   NaN   NaN   NaN         NaN

In [27]:
pd.read_csv('example4.csv', skiprows=[0,2,3,6,8])

    a   b   c   d programming
0  11  12  13  14      python
1  51  61  71  81        java
2  92  19  21  32        ruby

In [29]:
data = pd.read_csv('example6.csv')

In [30]:
data.head()

        one       two     three      four key_value
0  0.467976 -0.038649 -0.295344 -1.824726         L
1 -0.358893  1.404453  0.704965 -0.200638         B
2 -0.501840  0.659254 -0.421691 -0.057688         G
3  0.204886  1.074134  1.388361 -0.982404         R
4  0.354628 -0.133116  0.283763 -0.837063         Q

In [31]:
data.tail()

           one       two     three      four key_value
9989  0.649148  0.994273 -1.384227  0.485120         Q
9990 -0.370769  0.404356 -1.051628 -1.050899         8
9991 -0.409980  0.155627 -0.818990  1.277350         W
9992  0.301214 -1.111203  0.668258  0.671922         A
9993  1.821117  0.416445  0.173874  0.505118         X

In [32]:
pd.read_csv('example6.csv', nrows=7)

        one       two     three      four key_value
0  0.467976 -0.038649 -0.295344 -1.824726         L
1 -0.358893  1.404453  0.704965 -0.200638         B
2 -0.501840  0.659254 -0.421691 -0.057688         G
3  0.204886  1.074134  1.388361 -0.982404         R
4  0.354628 -0.133116  0.283763 -0.837063         Q
5  1.817480  0.742273  0.419395 -2.251035         Q
6 -0.776764  0.935518 -0.332872 -1.875641         U

In [33]:
pd.read_csv('example6.csv', nrows=13)

         one       two     three      four key_value
0   0.467976 -0.038649 -0.295344 -1.824726         L
1  -0.358893  1.404453  0.704965 -0.200638         B
2  -0.501840  0.659254 -0.421691 -0.057688         G
3   0.204886  1.074134  1.388361 -0.982404         R
4   0.354628 -0.133116  0.283763 -0.837063         Q
5   1.817480  0.742273  0.419395 -2.251035         Q
6  -0.776764  0.935518 -0.332872 -1.875641         U
7  -0.913135  1.530624 -0.572657  0.477252         K
8   0.358480 -0.497572 -0.367016  0.507702         S
9  -1.740877 -1.160417 -1.637830  2.172201         G
10  0.240564 -0.328249  1.252155  1.072796         8
11  0.764018  1.165476 -0.639544  1.495258         R
12  0.571035 -0.310537  0.582437 -0.298765         1

# writing files - to_csv( )

In [35]:
data5 = pd.read_csv('example5.csv')

In [36]:
data5

  column   a   b   c   d programming
0    one  11  12  13  14         NaN
1    two  51  61  71  81        java
2  three  92  19  21  32        ruby

In [37]:
data5.to_csv('example_data5.csv')

In [47]:
pd.read_csv('example_data5.csv')

   Unnamed: 0 column   a   b   c   d programming
0           0    one  11  12  13  14         NaN
1           1    two  51  61  71  81        java
2           2  three  92  19  21  32        ruby

In [38]:
import sys

In [39]:
data5.to_csv(sys.stdout)

,column,a,b,c,d,programming
0,one,11,12,13,14,
1,two,51,61,71,81,java
2,three,92,19,21,32,ruby

In [40]:
data5.to_csv(sys.stdout, sep=':')

:column:a:b:c:d:programming
0:one:11:12:13:14:
1:two:51:61:71:81:java
2:three:92:19:21:32:ruby

In [41]:
data5.to_csv(sys.stdout, sep=';')

;column;a;b;c;d;programming
0;one;11;12;13;14;
1;two;51;61;71;81;java
2;three;92;19;21;32;ruby

In [42]:
data5.to_csv(sys.stdout, sep='>')

>column>a>b>c>d>programming
0>one>11>12>13>14>
1>two>51>61>71>81>java
2>three>92>19>21>32>ruby

In [43]:
data5.to_csv(sys.stdout, na_rep='NULL')

,column,a,b,c,d,programming
0,one,11,12,13,14,NULL
1,two,51,61,71,81,java
2,three,92,19,21,32,ruby

In [44]:
data5.to_csv(sys.stdout, na_rep='missing_data')

,column,a,b,c,d,programming
0,one,11,12,13,14,missing_data
1,two,51,61,71,81,java
2,three,92,19,21,32,ruby

In [45]:
data5.to_csv(sys.stdout, index=False, header=False)

one,11,12,13,14,
two,51,61,71,81,java
three,92,19,21,32,ruby

In [46]:
data5.to_csv(sys.stdout, index=False, header=None, na_rep='No_data')

one,11,12,13,14,No_data
two,51,61,71,81,java
three,92,19,21,32,ruby