In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [ ]:
# url = 'http://pandas.pydata.org/pandas-docs/version/0.15.2/merging.html'

In [ ]:
# concat

In [4]:
dframe1 = pd.DataFrame({'A': ['a0','a1','a2','a3'],
                        'B': ['b0','b1','b2','b3'],
                        'C': ['c0','c1','c2','c3'],
                        'D': ['d0','d1','d2','d3']}, index=[0,1,2,3])

In [5]:
dframe1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [6]:
dframe2 = pd.DataFrame({'A': ['a4','a5','a6','a7'],
                        'B': ['b4','b5','b6','b7'],
                        'C': ['c4','c5','c6','c7'],
                        'D': ['d4','d5','d6','d7']}, index=[4,5,6,7])

In [7]:
dframe3 = pd.DataFrame({'A': ['a8','a9','a10','a11'],
                        'B': ['b8','b9','b10','b11'],
                        'C': ['c8','c9','c10','c11'],
                        'D': ['d8','d9','d10','d11']}, index=[8,9,10,11])

In [8]:
dframe4 = pd.DataFrame({'A': ['a12','a13','a14','a15'],
                        'B': ['b12','b13','b14','b15'],
                        'C': ['c12','c13','c14','c15'],
                        'D': ['d12','d13','d14','d15']}, index=[12,13,14,15])

In [9]:
dframe1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [10]:
dframe2

    A   B   C   D
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7

In [11]:
dframe3

      A    B    C    D
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [12]:
dframe4

      A    B    C    D
12  a12  b12  c12  d12
13  a13  b13  c13  d13
14  a14  b14  c14  d14
15  a15  b15  c15  d15

In [13]:
list1 = [dframe1, dframe2]

In [14]:
pd.concat(list1)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7

In [15]:
list2 = [dframe1, dframe2, dframe3, dframe4]

In [16]:
pd.concat(list2)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11
12  a12  b12  c12  d12
13  a13  b13  c13  d13
14  a14  b14  c14  d14
15  a15  b15  c15  d15

In [17]:
list3 = [dframe1, dframe2, dframe3]

In [18]:
pd.concat(list3)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [ ]:
# pd.concat(dframe_obj, axis, join, join_axis, keys, names, levels)

In [21]:
dframe_concat = pd.concat(list3, keys = ['x', 'y','z'])

In [22]:
dframe_concat

        A    B    C    D
x 0    a0   b0   c0   d0
  1    a1   b1   c1   d1
  2    a2   b2   c2   d2
  3    a3   b3   c3   d3
y 4    a4   b4   c4   d4
  5    a5   b5   c5   d5
  6    a6   b6   c6   d6
  7    a7   b7   c7   d7
z 8    a8   b8   c8   d8
  9    a9   b9   c9   d9
  10  a10  b10  c10  d10
  11  a11  b11  c11  d11

In [23]:
dframe_concat.ix['x']

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [24]:
dframe_concat.ix['z']

      A    B    C    D
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [ ]:
# axis arg

In [ ]:
#pd.concat(obj, keys, axis)

In [25]:
dframe5 = pd.DataFrame({'B': ['b2','b3','b5','b6'],
                        'D': ['d2','d3','d5','d6'],
                        'F': ['f2','f3','f5','f6']}, index = [2,3,5,6])

In [26]:
dframe5

    B   D   F
2  b2  d2  f2
3  b3  d3  f3
5  b5  d5  f5
6  b6  d6  f6

In [27]:
dframe1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [29]:
pd.concat([dframe1, dframe5], axis = 1)

     A    B    C    D    B    D    F
0   a0   b0   c0   d0  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN
2   a2   b2   c2   d2   b2   d2   f2
3   a3   b3   c3   d3   b3   d3   f3
5  NaN  NaN  NaN  NaN   b5   d5   f5
6  NaN  NaN  NaN  NaN   b6   d6   f6

In [31]:
pd.concat([dframe1, dframe5])

     A   B    C   D    F
0   a0  b0   c0  d0  NaN
1   a1  b1   c1  d1  NaN
2   a2  b2   c2  d2  NaN
3   a3  b3   c3  d3  NaN
2  NaN  b2  NaN  d2   f2
3  NaN  b3  NaN  d3   f3
5  NaN  b5  NaN  d5   f5
6  NaN  b6  NaN  d6   f6

In [36]:
pd.concat([dframe2, dframe5], axis = 1, join = 'inner')

    A   B   C   D   B   D   F
5  a5  b5  c5  d5  b5  d5  f5
6  a6  b6  c6  d6  b6  d6  f6

In [34]:
dframe2

    A   B   C   D
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7

In [35]:
dframe5

    B   D   F
2  b2  d2  f2
3  b3  d3  f3
5  b5  d5  f5
6  b6  d6  f6

In [42]:
pd.concat([dframe1, dframe5], axis = 1, join = 'inner')

    A   B   C   D   B   D   F
2  a2  b2  c2  d2  b2  d2  f2
3  a3  b3  c3  d3  b3  d3  f3

In [37]:
dframe1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [41]:
dframe5

    B   D   F
2  b2  d2  f2
3  b3  d3  f3
5  b5  d5  f5
6  b6  d6  f6

In [44]:
pd.concat([dframe1, dframe5], axis = 1, join_axes = [dframe5.index])

     A    B    C    D   B   D   F
2   a2   b2   c2   d2  b2  d2  f2
3   a3   b3   c3   d3  b3  d3  f3
5  NaN  NaN  NaN  NaN  b5  d5  f5
6  NaN  NaN  NaN  NaN  b6  d6  f6

In [45]:
pd.concat([dframe1, dframe5], axis = 1, join_axes = [dframe1.index])

    A   B   C   D    B    D    F
0  a0  b0  c0  d0  NaN  NaN  NaN
1  a1  b1  c1  d1  NaN  NaN  NaN
2  a2  b2  c2  d2   b2   d2   f2
3  a3  b3  c3  d3   b3   d3   f3

In [ ]:
# conca append!

In [46]:
dframe1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [47]:
dframe2

    A   B   C   D
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7

In [48]:
dframe1.append(dframe2)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7

In [49]:
pd.concat([dframe1, dframe2])

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7

In [50]:
dframe1.append([dframe2, dframe3])

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [51]:
dframe5

    B   D   F
2  b2  d2  f2
3  b3  d3  f3
5  b5  d5  f5
6  b6  d6  f6

In [53]:
dframe1.append(dframe5, ignore_index = True)

     A   B    C   D    F
0   a0  b0   c0  d0  NaN
1   a1  b1   c1  d1  NaN
2   a2  b2   c2  d2  NaN
3   a3  b3   c3  d3  NaN
4  NaN  b2  NaN  d2   f2
5  NaN  b3  NaN  d3   f3
6  NaN  b5  NaN  d5   f5
7  NaN  b6  NaN  d6   f6

In [55]:
pd.concat([dframe1, dframe5], ignore_index = True)

     A   B    C   D    F
0   a0  b0   c0  d0  NaN
1   a1  b1   c1  d1  NaN
2   a2  b2   c2  d2  NaN
3   a3  b3   c3  d3  NaN
4  NaN  b2  NaN  d2   f2
5  NaN  b3  NaN  d3   f3
6  NaN  b5  NaN  d5   f5
7  NaN  b6  NaN  d6   f6

In [ ]:
# concate series and dframes

In [56]:
ss1 = pd.Series(['s0','s1','s2','s3'], name = 's')

In [57]:
ss1

0    s0
1    s1
2    s2
3    s3
Name: s, dtype: object

In [58]:
dframe1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [59]:
pd.concat([dframe1, ss1], axis = 1)

    A   B   C   D   s
0  a0  b0  c0  d0  s0
1  a1  b1  c1  d1  s1
2  a2  b2  c2  d2  s2
3  a3  b3  c3  d3  s3

In [60]:
ss2 = pd.Series(['k0','k1','k2','k3'])

In [61]:
ss2

0    k0
1    k1
2    k2
3    k3
dtype: object

In [64]:
pd.concat([dframe1, ss1, ss2, ss2], axis = 1)

    A   B   C   D   s   0   1
0  a0  b0  c0  d0  s0  k0  k0
1  a1  b1  c1  d1  s1  k1  k1
2  a2  b2  c2  d2  s2  k2  k2
3  a3  b3  c3  d3  s3  k3  k3

In [65]:
pd.concat([dframe1, ss1, ss2, ss2], axis = 1, ignore_index = True)

    0   1   2   3   4   5   6
0  a0  b0  c0  d0  s0  k0  k0
1  a1  b1  c1  d1  s1  k1  k1
2  a2  b2  c2  d2  s2  k2  k2
3  a3  b3  c3  d3  s3  k3  k3

In [ ]:
# keys arg in ser and df

In [66]:
ss3 = pd.Series([0,10,20,30])

In [67]:
ss3

0     0
1    10
2    20
3    30
dtype: int64

In [74]:
ss4 = pd.Series([0,10,20,30])

ss5 = pd.Series([0,10,40,50], name = 'ser5')

In [69]:
ss4

0     0
1    10
2    20
3    30
dtype: int64

In [75]:
pd.concat([ss3,ss4, ss5], axis = 1)

    0   1  ser5
0   0   0     0
1  10  10    10
2  20  20    40
3  30  30    50

In [76]:
pd.concat([ss3, ss4, ss5], axis = 1, keys = ['first_col', 'sec_col', 'last_col'])

   first_col  sec_col  last_col
0          0        0         0
1         10       10        10
2         20       20        40
3         30       30        50

In [77]:
dframe1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [78]:
dframe2

    A   B   C   D
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7

In [79]:
dframe3

      A    B    C    D
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [81]:
pd.concat([dframe1, dframe2, dframe3], keys = ['first','second','last'])

             A    B    C    D
first  0    a0   b0   c0   d0
       1    a1   b1   c1   d1
       2    a2   b2   c2   d2
       3    a3   b3   c3   d3
second 4    a4   b4   c4   d4
       5    a5   b5   c5   d5
       6    a6   b6   c6   d6
       7    a7   b7   c7   d7
last   8    a8   b8   c8   d8
       9    a9   b9   c9   d9
       10  a10  b10  c10  d10
       11  a11  b11  c11  d11

In [82]:
dict_key = {'first': dframe1, 'second': dframe2, 'last': dframe3}

In [83]:
pd.concat(dict_key)

             A    B    C    D
first  0    a0   b0   c0   d0
       1    a1   b1   c1   d1
       2    a2   b2   c2   d2
       3    a3   b3   c3   d3
last   8    a8   b8   c8   d8
       9    a9   b9   c9   d9
       10  a10  b10  c10  d10
       11  a11  b11  c11  d11
second 4    a4   b4   c4   d4
       5    a5   b5   c5   d5
       6    a6   b6   c6   d6
       7    a7   b7   c7   d7

In [84]:
pd.concat(dict_key, keys = ['first', 'last'])

            A    B    C    D
first 0    a0   b0   c0   d0
      1    a1   b1   c1   d1
      2    a2   b2   c2   d2
      3    a3   b3   c3   d3
last  8    a8   b8   c8   d8
      9    a9   b9   c9   d9
      10  a10  b10  c10  d10
      11  a11  b11  c11  d11

In [ ]:
# appending rows to a df

In [85]:
ss1

0    s0
1    s1
2    s2
3    s3
Name: s, dtype: object

In [86]:
ss2

0    k0
1    k1
2    k2
3    k3
dtype: object

In [87]:
ser1 = pd.Series(['a0','a1','a2','a3'], index = ['A','B','C','D'])

In [88]:
dframe1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [89]:
ser1

A    a0
B    a1
C    a2
D    a3
dtype: object

In [90]:
dframe1.append(ser1, ignore_index = True)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  a0  a1  a2  a3

In [92]:
dict2 = [{'A': 11, 'B': 12, 'C': 13, 'D': 14}]

In [94]:
dframe1.append(dict2, ignore_index = True)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  11  12  13  14

In [93]:
dframe1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [95]:
dict3 = [{'A': 11, 'B': 12, 'C': 13, 'D': 14},
         {'A': 16, 'B': 17, 'C': 18, 'K': 14}]

In [97]:
dframe1.append(dict3, ignore_index = True)

    A   B   C    D     K
0  a0  b0  c0   d0   NaN
1  a1  b1  c1   d1   NaN
2  a2  b2  c2   d2   NaN
3  a3  b3  c3   d3   NaN
4  11  12  13   14   NaN
5  16  17  18  NaN  14.0

In [ ]:
# Appending rows to a dframe

In [101]:
ser2 = pd.Series(['s1','s2','s3','s4'], index = ['A','B','C','D'])

In [102]:
ser2

A    s1
B    s2
C    s3
D    s4
dtype: object

In [100]:
dframe1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [103]:
dframe1.append(ser2, ignore_index = True)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  s1  s2  s3  s4

In [106]:
dict2 = [{'A': 11, 'B':2, 'C':3, 'D': 12},
        {'A': 23, 'B':24, 'C':35, 'D': 16}]

In [107]:
dframe1.append(dict2, ignore_index = True)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  11   2   3  12
5  23  24  35  16