In [1]:
import pandas as pd 
import numpy as np

In [2]:
dframe1 = pd.DataFrame(np.random.randn(8,4), columns = ['a','b','c','d'])

In [3]:
dframe2 = pd.DataFrame(np.random.randn(6,3), columns = ['a', 'b', 'c'])

In [4]:
dframe1

          a         b         c         d
0 -0.118971 -1.247610  1.124840 -0.511315
1  1.146056 -0.751738 -0.979386  1.774481
2 -0.488030 -1.128232 -0.905606 -0.987748
3  0.375020  1.282398 -0.565454 -0.174676
4 -1.099169  0.419332  0.442034 -0.280023
5 -0.939333  1.378930 -1.315387  2.279741
6  0.204503  0.440453 -0.045067  1.399209
7 -1.521414  0.316145 -0.666590 -0.036795

In [5]:
dframe2

          a         b         c
0 -0.812469  0.959139  0.446328
1  0.557273  0.332980 -1.032536
2 -0.414061 -1.225050 -0.390523
3 -1.210132  0.233051  0.652896
4  0.419319 -0.041813 -0.380283
5  0.549778  0.243016  1.719877

In [6]:
dframe1 + dframe2

          a         b         c   d
0 -0.931440 -0.288471  1.571168 NaN
1  1.703329 -0.418758 -2.011922 NaN
2 -0.902091 -2.353282 -1.296129 NaN
3 -0.835112  1.515449  0.087441 NaN
4 -0.679850  0.377520  0.061751 NaN
5 -0.389554  1.621946  0.404490 NaN
6       NaN       NaN       NaN NaN
7       NaN       NaN       NaN NaN

In [8]:
index_date = pd.date_range('10/22/2016', periods = 10)

In [9]:
dframe = pd.DataFrame(np.random.randn(10,3), index = index_date, columns = ['a', 'b', 'c'])

In [10]:
dframe

                   a         b         c
2016-10-22  0.605244 -0.224503  1.411214
2016-10-23 -0.476827  0.263432 -0.594605
2016-10-24  0.838683 -2.182945 -0.434403
2016-10-25 -0.085741 -0.562788 -0.146070
2016-10-26 -0.504075  0.065512 -0.097906
2016-10-27 -1.068745  0.667100 -0.670403
2016-10-28  1.156604 -0.877290  0.722105
2016-10-29  0.439503 -0.785378 -1.259223
2016-10-30  0.934991  1.194567  0.386111
2016-10-31 -1.361773  0.378821  1.064865

In [11]:
dframe['a']

2016-10-22    0.605244
2016-10-23   -0.476827
2016-10-24    0.838683
2016-10-25   -0.085741
2016-10-26   -0.504075
2016-10-27   -1.068745
2016-10-28    1.156604
2016-10-29    0.439503
2016-10-30    0.934991
2016-10-31   -1.361773
Freq: D, Name: a, dtype: float64

In [12]:
type(dframe['a'])

pandas.core.series.Series

In [13]:
dframe * 3

                   a         b         c
2016-10-22  1.815732 -0.673510  4.233643
2016-10-23 -1.430482  0.790296 -1.783815
2016-10-24  2.516050 -6.548836 -1.303208
2016-10-25 -0.257222 -1.688364 -0.438209
2016-10-26 -1.512226  0.196535 -0.293718
2016-10-27 -3.206236  2.001299 -2.011208
2016-10-28  3.469813 -2.631869  2.166315
2016-10-29  1.318508 -2.356133 -3.777669
2016-10-30  2.804974  3.583701  1.158333
2016-10-31 -4.085320  1.136464  3.194596

In [14]:
dframe

                   a         b         c
2016-10-22  0.605244 -0.224503  1.411214
2016-10-23 -0.476827  0.263432 -0.594605
2016-10-24  0.838683 -2.182945 -0.434403
2016-10-25 -0.085741 -0.562788 -0.146070
2016-10-26 -0.504075  0.065512 -0.097906
2016-10-27 -1.068745  0.667100 -0.670403
2016-10-28  1.156604 -0.877290  0.722105
2016-10-29  0.439503 -0.785378 -1.259223
2016-10-30  0.934991  1.194567  0.386111
2016-10-31 -1.361773  0.378821  1.064865

In [15]:
dframe + 2

                   a         b         c
2016-10-22  2.605244  1.775497  3.411214
2016-10-23  1.523173  2.263432  1.405395
2016-10-24  2.838683 -0.182945  1.565597
2016-10-25  1.914259  1.437212  1.853930
2016-10-26  1.495925  2.065512  1.902094
2016-10-27  0.931255  2.667100  1.329597
2016-10-28  3.156604  1.122710  2.722105
2016-10-29  2.439503  1.214622  0.740777
2016-10-30  2.934991  3.194567  2.386111
2016-10-31  0.638227  2.378821  3.064865

In [16]:
dframe - 6

                   a         b         c
2016-10-22 -5.394756 -6.224503 -4.588786
2016-10-23 -6.476827 -5.736568 -6.594605
2016-10-24 -5.161317 -8.182945 -6.434403
2016-10-25 -6.085741 -6.562788 -6.146070
2016-10-26 -6.504075 -5.934488 -6.097906
2016-10-27 -7.068745 -5.332900 -6.670403
2016-10-28 -4.843396 -6.877290 -5.277895
2016-10-29 -5.560497 -6.785378 -7.259223
2016-10-30 -5.065009 -4.805433 -5.613889
2016-10-31 -7.361773 -5.621179 -4.935135

In [17]:
1/dframe

                    a          b          c
2016-10-22   1.652226  -4.454279   0.708610
2016-10-23  -2.097196   3.796044  -1.681789
2016-10-24   1.192345  -0.458097  -2.302011
2016-10-25 -11.663091  -1.776868  -6.846047
2016-10-26  -1.983830  15.264421 -10.213875
2016-10-27  -0.935676   1.499026  -1.491641
2016-10-28   0.864600  -1.139875   1.384840
2016-10-29   2.275299  -1.273273  -0.794141
2016-10-30   1.069529   0.837123   2.589930
2016-10-31  -0.734337   2.639768   0.939086

In [18]:
dframe**2

                   a         b         c
2016-10-22  0.366320  0.050402  1.991526
2016-10-23  0.227364  0.069396  0.353555
2016-10-24  0.703390  4.765250  0.188706
2016-10-25  0.007351  0.316730  0.021336
2016-10-26  0.254092  0.004292  0.009586
2016-10-27  1.142217  0.445022  0.449440
2016-10-28  1.337734  0.769637  0.521435
2016-10-29  0.193163  0.616818  1.585643
2016-10-30  0.874209  1.426990  0.149082
2016-10-31  1.854427  0.143505  1.133938

In [19]:
dframe**3

                   a          b         c
2016-10-22  0.221713  -0.011315  2.810470
2016-10-23 -0.108413   0.018281 -0.210226
2016-10-24  0.589921 -10.402281 -0.081974
2016-10-25 -0.000630  -0.178252 -0.003117
2016-10-26 -0.128081   0.000281 -0.000938
2016-10-27 -1.220739   0.296874 -0.301306
2016-10-28  1.547229  -0.675194  0.376531
2016-10-29  0.084895  -0.484435 -1.996678
2016-10-30  0.817377   1.704636  0.057562
2016-10-31 -2.525309   0.054363  1.207491

In [20]:
dframe1 = pd.DataFrame({'x': [10, 0, 10], 'y': [0, 10, 10]})

In [21]:
dframe2 = pd.DataFrame({'x': [0, 10, 10], 'y': [10, 10, 0]})

In [35]:
dframe1

    x   y
0  10   0
1   0  10
2  10  10

In [36]:
dframe2

    x   y
0   0  10
1  10  10
2  10   0

In [37]:
dframe1 * dframe2

     x    y
0    0    0
1    0  100
2  100    0

In [38]:
(dframe1 * dframe2) + 5

     x    y
0    5    5
1    5  105
2  105    5

In [ ]:
# transpose

In [39]:
dframe1.T

    0   1   2
x  10   0  10
y   0  10  10

In [40]:
dframe

                   a         b         c
2016-10-22  0.605244 -0.224503  1.411214
2016-10-23 -0.476827  0.263432 -0.594605
2016-10-24  0.838683 -2.182945 -0.434403
2016-10-25 -0.085741 -0.562788 -0.146070
2016-10-26 -0.504075  0.065512 -0.097906
2016-10-27 -1.068745  0.667100 -0.670403
2016-10-28  1.156604 -0.877290  0.722105
2016-10-29  0.439503 -0.785378 -1.259223
2016-10-30  0.934991  1.194567  0.386111
2016-10-31 -1.361773  0.378821  1.064865

In [41]:
dframe.T

,2016-10-22 00:00:00,2016-10-23 00:00:00,2016-10-24 00:00:00,2016-10-25 00:00:00,2016-10-26 00:00:00,2016-10-27 00:00:00,2016-10-28 00:00:00,2016-10-29 00:00:00,2016-10-30 00:00:00,2016-10-31 00:00:00
a,0.605244,-0.476827,0.838683,-0.085741,-0.504075,-1.068745,1.156604,0.439503,0.934991,-1.361773
b,-0.224503,0.263432,-2.182945,-0.562788,0.065512,0.667100,-0.877290,-0.785378,1.194567,0.378821
c,1.411214,-0.594605,-0.434403,-0.146070,-0.097906,-0.670403,0.722105,-1.259223,0.386111,1.064865

In [42]:
dframe[:4]

                   a         b         c
2016-10-22  0.605244 -0.224503  1.411214
2016-10-23 -0.476827  0.263432 -0.594605
2016-10-24  0.838683 -2.182945 -0.434403
2016-10-25 -0.085741 -0.562788 -0.146070

In [43]:
dframe[:4].T

   2016-10-22  2016-10-23  2016-10-24  2016-10-25
a    0.605244   -0.476827    0.838683   -0.085741
b   -0.224503    0.263432   -2.182945   -0.562788
c    1.411214   -0.594605   -0.434403   -0.146070

In [48]:
dframe

                   a         b         c
2016-10-22  0.605244 -0.224503  1.411214
2016-10-23 -0.476827  0.263432 -0.594605
2016-10-24  0.838683 -2.182945 -0.434403
2016-10-25 -0.085741 -0.562788 -0.146070
2016-10-26 -0.504075  0.065512 -0.097906
2016-10-27 -1.068745  0.667100 -0.670403
2016-10-28  1.156604 -0.877290  0.722105
2016-10-29  0.439503 -0.785378 -1.259223
2016-10-30  0.934991  1.194567  0.386111
2016-10-31 -1.361773  0.378821  1.064865

In [49]:
np.exp(dframe)

                   a         b         c
2016-10-22  1.831699  0.798913  4.100933
2016-10-23  0.620750  1.301389  0.551780
2016-10-24  2.313319  0.112709  0.647651
2016-10-25  0.917832  0.569619  0.864097
2016-10-26  0.604064  1.067705  0.906734
2016-10-27  0.343439  1.948578  0.511503
2016-10-28  3.179120  0.415909  2.058762
2016-10-29  1.551935  0.455948  0.283875
2016-10-30  2.547191  3.302128  1.471248
2016-10-31  0.256206  1.460562  2.900448

In [50]:
np.log(dframe)

                   a         b         c
2016-10-22 -0.502124       NaN  0.344451
2016-10-23       NaN -1.333959       NaN
2016-10-24 -0.175922       NaN       NaN
2016-10-25       NaN       NaN       NaN
2016-10-26       NaN -2.725525       NaN
2016-10-27       NaN -0.404816       NaN
2016-10-28  0.145489       NaN -0.325585
2016-10-29 -0.822112       NaN       NaN
2016-10-30 -0.067218  0.177784 -0.951631
2016-10-31       NaN -0.970691  0.062848

In [51]:
np.sqrt(dframe)

                   a         b         c
2016-10-22  0.777974       NaN  1.187945
2016-10-23       NaN  0.513256       NaN
2016-10-24  0.915797       NaN       NaN
2016-10-25       NaN       NaN       NaN
2016-10-26       NaN  0.255953       NaN
2016-10-27       NaN  0.816762       NaN
2016-10-28  1.075455       NaN  0.849768
2016-10-29  0.662950       NaN       NaN
2016-10-30  0.966949  1.092962  0.621378
2016-10-31       NaN  0.615485  1.031923

In [52]:
np.asarray(dframe)

array([[ 0.60524399, -0.22450321,  1.41121443],
       [-0.47682726,  0.26343214, -0.594605  ],
       [ 0.83868331, -2.1829453 , -0.43440274],
       [-0.08574057, -0.56278798, -0.14606969],
       [-0.50407535,  0.06551182, -0.09790603],
       [-1.06874547,  0.66709962, -0.6704026 ],
       [ 1.15660447, -0.87728952,  0.72210485],
       [ 0.43950264, -0.78537757, -1.259223  ],
       [ 0.93499122,  1.194567  ,  0.3861109 ],
       [-1.36177341,  0.37882119,  1.06486531]])

In [53]:
dframe

                   a         b         c
2016-10-22  0.605244 -0.224503  1.411214
2016-10-23 -0.476827  0.263432 -0.594605
2016-10-24  0.838683 -2.182945 -0.434403
2016-10-25 -0.085741 -0.562788 -0.146070
2016-10-26 -0.504075  0.065512 -0.097906
2016-10-27 -1.068745  0.667100 -0.670403
2016-10-28  1.156604 -0.877290  0.722105
2016-10-29  0.439503 -0.785378 -1.259223
2016-10-30  0.934991  1.194567  0.386111
2016-10-31 -1.361773  0.378821  1.064865