In [1]:
import numpy as np
import pandas as pd

In [ ]:
# dataframe = 2d labeled data st

In [ ]:
# dict, arrays, ser, other df

In [ ]:
# dict of series obj

In [2]:
dd = {'key_one': pd.Series([1,2,3,4], index = ['a', 'b', 'c', 'd']),
     'key_two': pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'])}

In [3]:
dframe = pd.DataFrame(dd)

In [4]:
dframe

   key_one  key_two
a      1.0        1
b      2.0        2
c      3.0        3
d      4.0        4
e      NaN        5

In [5]:
pd.DataFrame(dd, index = ['e', 'b', 'a'])

   key_one  key_two
e      NaN        5
b      2.0        2
a      1.0        1

In [6]:
pd.DataFrame(dd, index = ['e', 'b', 'a'], columns = ['key_two'])

   key_two
e        5
b        2
a        1

In [7]:
pd.DataFrame(dd, index = ['e', 'b', 'a'], columns = ['key_two', 'key_three'])

   key_two key_three
e        5       NaN
b        2       NaN
a        1       NaN

In [8]:
dframe.index

Index([u'a', u'b', u'c', u'd', u'e'], dtype='object')

In [9]:
dframe.columns

Index([u'key_one', u'key_two'], dtype='object')

In [ ]:
# dict of lists

In [10]:
dd = {'key_one': [1,2,3,4,5],
     'key_two': [5,4,3,2,1],
     'key_three': [5,6,7,8,9]}

In [11]:
pd.DataFrame(dd)

   key_one  key_three  key_two
0        1          5        5
1        2          6        4
2        3          7        3
3        4          8        2
4        5          9        1

In [12]:
pd.DataFrame(dd, index = ['a', 'b', 'c', 'd', 'e'])

   key_one  key_three  key_two
a        1          5        5
b        2          6        4
c        3          7        3
d        4          8        2
e        5          9        1

In [14]:
dd2 = {'key_one': [1,2,3,4,5],
     'key_two': [5,4,3,2,1],
     'key_three': [5,6,7,8]}

In [15]:
pd.DataFrame(dd2)

ValueError: arrays must all be same length

In [ ]:
# list of dictiona

In [16]:
list1 = [{'a': 1, 'b': 2, 'c': 3}, {'a': 11, 'b': 12, 'c': 13, 'd': 14}]

In [17]:
pd.DataFrame(list1)

    a   b   c     d
0   1   2   3   NaN
1  11  12  13  14.0

In [18]:
pd.DataFrame(list1, index = ['index_one', 'index_two'])

            a   b   c     d
index_one   1   2   3   NaN
index_two  11  12  13  14.0

In [20]:
pd.DataFrame(list1, index = ['zero', 'one'], columns = ['c', 'd'])

       c     d
zero   3   NaN
one   13  14.0

In [29]:
pd.DataFrame({('x', 'b'): {('outer', 'inner1'): 1, ('outer_2', 'inner_11'): 2},
                       ('x', 'a'): {('outer', 'inner2'): 3, ('outer_2', 'inner_12'): 4},
                       ('x', 'c'): {('outer', 'inner3'): 5, ('outer_2', 'inner_13'): 6},
                       ('y', 'a'): {('outer', 'inner4'): 7, ('outer_2', 'inner_14'): 8},
                       ('y', 'b'): {('outer', 'inner5'): 9, ('outer_2', 'inner_14'): 10}})

                    x              y
                    a    b    c    a     b
outer   inner1    NaN  1.0  NaN  NaN   NaN
        inner2    3.0  NaN  NaN  NaN   NaN
        inner3    NaN  NaN  5.0  NaN   NaN
        inner4    NaN  NaN  NaN  7.0   NaN
        inner5    NaN  NaN  NaN  NaN   9.0
outer_2 inner_11  NaN  2.0  NaN  NaN   NaN
        inner_12  4.0  NaN  NaN  NaN   NaN
        inner_13  NaN  NaN  6.0  NaN   NaN
        inner_14  NaN  NaN  NaN  8.0  10.0

In [30]:
dframe

   key_one  key_two
a      1.0        1
b      2.0        2
c      3.0        3
d      4.0        4
e      NaN        5

In [31]:
dframe['key_one']

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
Name: key_one, dtype: float64

In [33]:
dframe['key_three'] = dframe['key_one'] * dframe['key_one']

In [34]:
dframe

   key_one  key_two  key_three
a      1.0        1        1.0
b      2.0        2        4.0
c      3.0        3        9.0
d      4.0        4       16.0
e      NaN        5        NaN

In [35]:
dframe['key_four'] = dframe['key_one'] * dframe['key_three']

In [36]:
dframe

   key_one  key_two  key_three  key_four
a      1.0        1        1.0       1.0
b      2.0        2        4.0       8.0
c      3.0        3        9.0      27.0
d      4.0        4       16.0      64.0
e      NaN        5        NaN       NaN

In [37]:
dframe['key_five'] = dframe['key_three'] > 5

In [38]:
dframe

   key_one  key_two  key_three  key_four key_five
a      1.0        1        1.0       1.0    False
b      2.0        2        4.0       8.0    False
c      3.0        3        9.0      27.0     True
d      4.0        4       16.0      64.0     True
e      NaN        5        NaN       NaN    False

In [39]:
del dframe['key_five']

In [40]:
dframe

   key_one  key_two  key_three  key_four
a      1.0        1        1.0       1.0
b      2.0        2        4.0       8.0
c      3.0        3        9.0      27.0
d      4.0        4       16.0      64.0
e      NaN        5        NaN       NaN

In [41]:
dframe_pop = dframe.pop('key_four')

In [42]:
dframe_pop

a     1.0
b     8.0
c    27.0
d    64.0
e     NaN
Name: key_four, dtype: float64

In [43]:
dframe

   key_one  key_two  key_three
a      1.0        1        1.0
b      2.0        2        4.0
c      3.0        3        9.0
d      4.0        4       16.0
e      NaN        5        NaN

In [44]:
dframe['new_col'] = 'new_value'

In [45]:
dframe

   key_one  key_two  key_three    new_col
a      1.0        1        1.0  new_value
b      2.0        2        4.0  new_value
c      3.0        3        9.0  new_value
d      4.0        4       16.0  new_value
e      NaN        5        NaN  new_value

In [46]:
dframe['col5'] = dframe['key_three'][:3]

In [47]:
dframe

   key_one  key_two  key_three    new_col  col5
a      1.0        1        1.0  new_value   1.0
b      2.0        2        4.0  new_value   4.0
c      3.0        3        9.0  new_value   9.0
d      4.0        4       16.0  new_value   NaN
e      NaN        5        NaN  new_value   NaN