# read_fwf method

In [ ]:
# http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii

In [15]:
import pandas as pd
import numpy as np

In [16]:
data_fwf = pd.read_fwf('http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii', \
            parse_dates=[[0,1]], header=None, infer_datetime_format=True)

In [17]:
data_fwf.head()

         0_1         2
0 1950-01-01 -0.060310
1 1950-02-01  0.626810
2 1950-03-01 -0.008128
3 1950-04-01  0.555100
4 1950-05-01  0.071577

In [18]:
data_fwf.columns = ['Month_col', 'Value']

In [19]:
data_fwf.head()

   Month_col     Value
0 1950-01-01 -0.060310
1 1950-02-01  0.626810
2 1950-03-01 -0.008128
3 1950-04-01  0.555100
4 1950-05-01  0.071577

In [20]:
data_fwf.index = data_fwf.Month_col

In [21]:
data_fwf.head()

            Month_col     Value
Month_col
1950-01-01 1950-01-01 -0.060310
1950-02-01 1950-02-01  0.626810
1950-03-01 1950-03-01 -0.008128
1950-04-01 1950-04-01  0.555100
1950-05-01 1950-05-01  0.071577

In [22]:
data_fwf = data_fwf.drop('Month_col', 1)

In [23]:
data_fwf.head()

               Value
Month_col
1950-01-01 -0.060310
1950-02-01  0.626810
1950-03-01 -0.008128
1950-04-01  0.555100
1950-05-01  0.071577

In [24]:
import timeit

In [26]:
print "The time it takes to load our dataset when infer_datetime_format=True: "

%timeit pd.read_fwf('http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii', \
            parse_dates=[[0,1]], header=None, infer_datetime_format=True)

The time it takes to load our dataset when infer_datetime_format=True:
10 loops, best of 3: 66.3 ms per loop

In [27]:
print "The time it takes to load our dataset when infer_datetime_format=False: "

%timeit pd.read_fwf('http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii', \
            parse_dates=[[0,1]], header=None, infer_datetime_format=False)

The time it takes to load our dataset when infer_datetime_format=False:
10 loops, best of 3: 66.4 ms per loop

In [29]:
data_fwf.tail(15)

               Value
Month_col
2015-09-01 -0.164510
2015-10-01 -0.250060
2015-11-01  1.945000
2015-12-01  1.444100
2016-01-01 -1.448700
2016-02-01 -0.023521
2016-03-01  0.280240
2016-04-01 -1.051100
2016-05-01 -0.035739
2016-06-01  0.312880
2016-07-01  0.084758
2016-08-01  0.472380
2016-09-01  0.780970
2016-10-01 -1.917300
2016-11-01 -0.610910

In [30]:
min(data_fwf.index)

Timestamp('1950-01-01 00:00:00')

In [31]:
max(data_fwf.index)

Timestamp('2016-11-01 00:00:00')

In [32]:
type(data_fwf.index)

pandas.tseries.index.DatetimeIndex

In [34]:
new_df = data_fwf['2015-09-01':'2016-10-01']

In [35]:
data_period = data_fwf.to_period()

In [37]:
data_period.head(10)

              Value
Month_col
1950-01   -0.060310
1950-02    0.626810
1950-03   -0.008128
1950-04    0.555100
1950-05    0.071577
1950-06    0.538570
1950-07   -0.802480
1950-08   -0.851010
1950-09    0.357970
1950-10   -0.378900

In [ ]:
#truncate

In [39]:
data_fwf = data_fwf.truncate(before='1950-03-01')

In [42]:
data_fwf = data_fwf.truncate(after='2015-12-01')

In [43]:
data_fwf.tail(15)

              Value
Month_col
2014-10-01 -1.13440
2014-11-01 -0.53030
2014-12-01  0.41292
2015-01-01  1.09160
2015-02-01  1.04260
2015-03-01  1.83740
2015-04-01  1.21570
2015-05-01  0.76276
2015-06-01  0.42704
2015-07-01 -1.10790
2015-08-01 -0.68902
2015-09-01 -0.16451
2015-10-01 -0.25006
2015-11-01  1.94500
2015-12-01  1.44410