In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [ ]:
# url ='http://pandas.pydata.org/pandas-docs/version/0.15.2/missing_data.html'

In [2]:
# isnull and notnull methods

In [3]:
dframe = pd.DataFrame(np.random.randn(6,3),
                      index= ['a','b','c','d','e','f'],
                      columns = ['col1','col2','col3'])

In [4]:
dframe

       col1      col2      col3
a -0.174355  0.285239  1.362026
b -0.497038  0.746210 -0.221457
c  2.429611 -0.542280  0.631317
d -1.339407  0.662213 -0.710119
e -0.021281  0.470950 -0.640262
f  0.560095  0.853626  0.812069

In [5]:
dframe['col4'] = dframe['col2'] > 0

In [6]:
dframe

       col1      col2      col3   col4
a -0.174355  0.285239  1.362026   True
b -0.497038  0.746210 -0.221457   True
c  2.429611 -0.542280  0.631317  False
d -1.339407  0.662213 -0.710119   True
e -0.021281  0.470950 -0.640262   True
f  0.560095  0.853626  0.812069   True

In [7]:
dframe1 = dframe.reindex(['a','b','c','d','e','f','g','h','i','j'])

In [8]:
dframe1

       col1      col2      col3   col4
a -0.174355  0.285239  1.362026   True
b -0.497038  0.746210 -0.221457   True
c  2.429611 -0.542280  0.631317  False
d -1.339407  0.662213 -0.710119   True
e -0.021281  0.470950 -0.640262   True
f  0.560095  0.853626  0.812069   True
g       NaN       NaN       NaN    NaN
h       NaN       NaN       NaN    NaN
i       NaN       NaN       NaN    NaN
j       NaN       NaN       NaN    NaN

In [9]:
dframe1.notnull()

    col1   col2   col3   col4
a   True   True   True   True
b   True   True   True   True
c   True   True   True   True
d   True   True   True   True
e   True   True   True   True
f   True   True   True   True
g  False  False  False  False
h  False  False  False  False
i  False  False  False  False
j  False  False  False  False

In [10]:
dframe1.isnull()

    col1   col2   col3   col4
a  False  False  False  False
b  False  False  False  False
c  False  False  False  False
d  False  False  False  False
e  False  False  False  False
f  False  False  False  False
g   True   True   True   True
h   True   True   True   True
i   True   True   True   True
j   True   True   True   True

In [11]:
dframe1['col3'].notnull()

a     True
b     True
c     True
d     True
e     True
f     True
g    False
h    False
i    False
j    False
Name: col3, dtype: bool

In [12]:
dframe1['col1'].isnull()

a    False
b    False
c    False
d    False
e    False
f    False
g     True
h     True
i     True
j     True
Name: col1, dtype: bool

In [15]:
dframe.iloc[0:2,2] = np.nan

In [16]:
dframe

       col1      col2      col3   col4
a -0.174355  0.285239       NaN   True
b -0.497038  0.746210       NaN   True
c  2.429611 -0.542280  0.631317  False
d -1.339407  0.662213 -0.710119   True
e -0.021281  0.470950 -0.640262   True
f  0.560095  0.853626  0.812069   True

In [ ]:
# Inserting missing data and calculations

In [21]:
dframe = pd.DataFrame(np.random.randn(6,3),
                      index= ['a','b','c','d','e','f'],
                      columns = ['col1','col2','col3'])

In [24]:
dframe

       col1      col2      col3
a -2.379044 -0.848073 -0.175867
b  0.549121  0.020679 -0.088291
c  0.773742  2.287734  1.621318
d -0.770437 -1.846627 -0.045282
e  0.437200  0.070731  0.611076
f  0.348810  1.146301  0.151184

In [20]:
dframe1 = pd.DataFrame(np.random.randn(6,4),
                      index= ['a','b','c','d','e','f'],
                      columns = ['col1','col2','col3','col4'])

In [23]:
dframe1

       col1      col2      col3      col4
a -0.940634  0.503646  0.416373 -2.788820
b -1.639101  1.584469 -0.707831  0.039924
c  1.280709  0.345773 -1.709610 -0.082581
d -1.874402  0.005777 -2.469474  0.866330
e -2.845254  1.231241 -2.000665 -0.768641
f  1.181123 -0.490230 -0.357657 -0.327455

In [ ]:
#nan

In [25]:
ss = pd.Series(['a','b','c','d'])

In [26]:
ss

0    a
1    b
2    c
3    d
dtype: object

In [27]:
ss.loc[2] = np.nan

In [28]:
ss

0      a
1      b
2    NaN
3      d
dtype: object

In [29]:
dframe.iloc[0:2, 2] = np.nan

In [30]:
dframe

       col1      col2      col3
a -2.379044 -0.848073       NaN
b  0.549121  0.020679       NaN
c  0.773742  2.287734  1.621318
d -0.770437 -1.846627 -0.045282
e  0.437200  0.070731  0.611076
f  0.348810  1.146301  0.151184

In [31]:
dframe1.iloc[3:5, 0] = np.nan

In [32]:
dframe1

       col1      col2      col3      col4
a -0.940634  0.503646  0.416373 -2.788820
b -1.639101  1.584469 -0.707831  0.039924
c  1.280709  0.345773 -1.709610 -0.082581
d       NaN  0.005777 -2.469474  0.866330
e       NaN  1.231241 -2.000665 -0.768641
f  1.181123 -0.490230 -0.357657 -0.327455

In [33]:
dframe + dframe1

       col1      col2      col3  col4
a -3.319678 -0.344426       NaN   NaN
b -1.089980  1.605148       NaN   NaN
c  2.054451  2.633507 -0.088291   NaN
d       NaN -1.840850 -2.514755   NaN
e       NaN  1.301972 -1.389589   NaN
f  1.529932  0.656072 -0.206473   NaN

In [34]:
dframe['col3'].sum()

2.338295703585469

In [35]:
dframe1['col4'].sum()

-3.061243448694355

In [37]:
xx = dframe.groupby('col1')

In [38]:
xx.mean()

               col2      col3
col1
-2.379044 -0.848073       NaN
-0.770437 -1.846627 -0.045282
 0.348810  1.146301  0.151184
 0.437200  0.070731  0.611076
 0.549121  0.020679       NaN
 0.773742  2.287734  1.621318

In [39]:
dframe1.groupby('col4').mean()

               col1      col2      col3
col4
-2.788820 -0.940634  0.503646  0.416373
-0.768641       NaN  1.231241 -2.000665
-0.327455  1.181123 -0.490230 -0.357657
-0.082581  1.280709  0.345773 -1.709610
 0.039924 -1.639101  1.584469 -0.707831
 0.866330       NaN  0.005777 -2.469474

In [ ]:
# filling missing data

In [40]:
dframe

       col1      col2      col3
a -2.379044 -0.848073       NaN
b  0.549121  0.020679       NaN
c  0.773742  2.287734  1.621318
d -0.770437 -1.846627 -0.045282
e  0.437200  0.070731  0.611076
f  0.348810  1.146301  0.151184

In [41]:
dframe1

       col1      col2      col3      col4
a -0.940634  0.503646  0.416373 -2.788820
b -1.639101  1.584469 -0.707831  0.039924
c  1.280709  0.345773 -1.709610 -0.082581
d       NaN  0.005777 -2.469474  0.866330
e       NaN  1.231241 -2.000665 -0.768641
f  1.181123 -0.490230 -0.357657 -0.327455

In [42]:
dframe1.iloc[0:3, 1] = np.nan

In [43]:
dframe1

       col1      col2      col3      col4
a -0.940634       NaN  0.416373 -2.788820
b -1.639101       NaN -0.707831  0.039924
c  1.280709       NaN -1.709610 -0.082581
d       NaN  0.005777 -2.469474  0.866330
e       NaN  1.231241 -2.000665 -0.768641
f  1.181123 -0.490230 -0.357657 -0.327455

In [44]:
dframe1.iloc[0:2, 2] = np.nan

In [45]:
dframe1

       col1      col2      col3      col4
a -0.940634       NaN       NaN -2.788820
b -1.639101       NaN       NaN  0.039924
c  1.280709       NaN -1.709610 -0.082581
d       NaN  0.005777 -2.469474  0.866330
e       NaN  1.231241 -2.000665 -0.768641
f  1.181123 -0.490230 -0.357657 -0.327455

In [ ]:
#fillna

In [46]:
dframe1.fillna(method = 'pad') # pad, ffill, bfill

       col1      col2      col3      col4
a -0.940634       NaN       NaN -2.788820
b -1.639101       NaN       NaN  0.039924
c  1.280709       NaN -1.709610 -0.082581
d  1.280709  0.005777 -2.469474  0.866330
e  1.280709  1.231241 -2.000665 -0.768641
f  1.181123 -0.490230 -0.357657 -0.327455

In [47]:
dframe1.fillna(method = 'bfill')

       col1      col2      col3      col4
a -0.940634  0.005777 -1.709610 -2.788820
b -1.639101  0.005777 -1.709610  0.039924
c  1.280709  0.005777 -1.709610 -0.082581
d  1.181123  0.005777 -2.469474  0.866330
e  1.181123  1.231241 -2.000665 -0.768641
f  1.181123 -0.490230 -0.357657 -0.327455

In [48]:
dframe1

       col1      col2      col3      col4
a -0.940634       NaN       NaN -2.788820
b -1.639101       NaN       NaN  0.039924
c  1.280709       NaN -1.709610 -0.082581
d       NaN  0.005777 -2.469474  0.866330
e       NaN  1.231241 -2.000665 -0.768641
f  1.181123 -0.490230 -0.357657 -0.327455

In [49]:
dframe1.fillna(method = 'bfill', limit = 1)

       col1      col2      col3      col4
a -0.940634       NaN       NaN -2.788820
b -1.639101       NaN -1.709610  0.039924
c  1.280709  0.005777 -1.709610 -0.082581
d       NaN  0.005777 -2.469474  0.866330
e  1.181123  1.231241 -2.000665 -0.768641
f  1.181123 -0.490230 -0.357657 -0.327455

In [50]:
dframe1.fillna(method = 'bfill', limit = 2)

       col1      col2      col3      col4
a -0.940634       NaN -1.709610 -2.788820
b -1.639101  0.005777 -1.709610  0.039924
c  1.280709  0.005777 -1.709610 -0.082581
d  1.181123  0.005777 -2.469474  0.866330
e  1.181123  1.231241 -2.000665 -0.768641
f  1.181123 -0.490230 -0.357657 -0.327455

In [51]:
dframe1.fillna(method='ffill')

       col1      col2      col3      col4
a -0.940634       NaN       NaN -2.788820
b -1.639101       NaN       NaN  0.039924
c  1.280709       NaN -1.709610 -0.082581
d  1.280709  0.005777 -2.469474  0.866330
e  1.280709  1.231241 -2.000665 -0.768641
f  1.181123 -0.490230 -0.357657 -0.327455

In [52]:
dframe1.fillna(method='ffill', limit = 1)

       col1      col2      col3      col4
a -0.940634       NaN       NaN -2.788820
b -1.639101       NaN       NaN  0.039924
c  1.280709       NaN -1.709610 -0.082581
d  1.280709  0.005777 -2.469474  0.866330
e       NaN  1.231241 -2.000665 -0.768641
f  1.181123 -0.490230 -0.357657 -0.327455

In [53]:
dframe1.fillna(100)

         col1        col2        col3      col4
a   -0.940634  100.000000  100.000000 -2.788820
b   -1.639101  100.000000  100.000000  0.039924
c    1.280709  100.000000   -1.709610 -0.082581
d  100.000000    0.005777   -2.469474  0.866330
e  100.000000    1.231241   -2.000665 -0.768641
f    1.181123   -0.490230   -0.357657 -0.327455

In [54]:
dframe1.mean()

col1   -0.029476
col2    0.248929
col3   -1.634351
col4   -0.510207
dtype: float64

In [55]:
dframe1.fillna(dframe1.mean())

       col1      col2      col3      col4
a -0.940634  0.248929 -1.634351 -2.788820
b -1.639101  0.248929 -1.634351  0.039924
c  1.280709  0.248929 -1.709610 -0.082581
d -0.029476  0.005777 -2.469474  0.866330
e -0.029476  1.231241 -2.000665 -0.768641
f  1.181123 -0.490230 -0.357657 -0.327455

In [56]:
dframe1.fillna(dframe1.mean()['col1':'col2'])

       col1      col2      col3      col4
a -0.940634  0.248929       NaN -2.788820
b -1.639101  0.248929       NaN  0.039924
c  1.280709  0.248929 -1.709610 -0.082581
d -0.029476  0.005777 -2.469474  0.866330
e -0.029476  1.231241 -2.000665 -0.768641
f  1.181123 -0.490230 -0.357657 -0.327455

In [57]:
dframe1.fillna(dframe1.mean()['col3'])

       col1      col2      col3      col4
a -0.940634 -1.634351 -1.634351 -2.788820
b -1.639101 -1.634351 -1.634351  0.039924
c  1.280709 -1.634351 -1.709610 -0.082581
d -1.634351  0.005777 -2.469474  0.866330
e -1.634351  1.231241 -2.000665 -0.768641
f  1.181123 -0.490230 -0.357657 -0.327455

In [ ]:
# dropping axis and interpolation

In [58]:
#dropna

In [59]:
dframe

       col1      col2      col3
a -2.379044 -0.848073       NaN
b  0.549121  0.020679       NaN
c  0.773742  2.287734  1.621318
d -0.770437 -1.846627 -0.045282
e  0.437200  0.070731  0.611076
f  0.348810  1.146301  0.151184

In [60]:
dframe1

       col1      col2      col3      col4
a -0.940634       NaN       NaN -2.788820
b -1.639101       NaN       NaN  0.039924
c  1.280709       NaN -1.709610 -0.082581
d       NaN  0.005777 -2.469474  0.866330
e       NaN  1.231241 -2.000665 -0.768641
f  1.181123 -0.490230 -0.357657 -0.327455

In [61]:
dframe1.dropna(axis = 0)

       col1     col2      col3      col4
f  1.181123 -0.49023 -0.357657 -0.327455

In [62]:
dframe1.dropna(axis = 1)

       col4
a -2.788820
b  0.039924
c -0.082581
d  0.866330
e -0.768641
f -0.327455

In [63]:
dframe1['col2'].dropna()

d    0.005777
e    1.231241
f   -0.490230
Name: col2, dtype: float64

In [ ]:
#interpolation

In [64]:
ss = pd.Series([0, np.nan, 20], index = [0,2,20])

In [65]:
ss

0      0.0
2      NaN
20    20.0
dtype: float64

In [66]:
ss.interpolate()

0      0.0
2     10.0
20    20.0
dtype: float64

In [67]:
ss.interpolate(method='values')

0      0.0
2      2.0
20    20.0
dtype: float64

In [69]:
dframe2 = pd.DataFrame({'a': [2, 3.3, np.nan, 5.2, 6.4, 7.2],
                       'b': [8, np.nan, np.nan, 18, 29, 40]})

In [70]:
dframe2

     a     b
0  2.0   8.0
1  3.3   NaN
2  NaN   NaN
3  5.2  18.0
4  6.4  29.0
5  7.2  40.0

In [71]:
dframe2.interpolate()

      a          b
0  2.00   8.000000
1  3.30  11.333333
2  4.25  14.666667
3  5.20  18.000000
4  6.40  29.000000
5  7.20  40.000000

In [ ]:
# limit =

In [72]:
ss = pd.Series([np.nan, np.nan, np.nan, 7, np.nan, np.nan, np.nan, 24])

In [73]:
ss

0     NaN
1     NaN
2     NaN
3     7.0
4     NaN
5     NaN
6     NaN
7    24.0
dtype: float64

In [74]:
ss.interpolate()

0      NaN
1      NaN
2      NaN
3     7.00
4    11.25
5    15.50
6    19.75
7    24.00
dtype: float64

In [75]:
ss.interpolate(limit = 1)

0      NaN
1      NaN
2      NaN
3     7.00
4    11.25
5      NaN
6      NaN
7    24.00
dtype: float64

In [76]:
ss.interpolate(limit = 1, limit_direction = 'backward')

0      NaN
1      NaN
2     7.00
3     7.00
4      NaN
5      NaN
6    19.75
7    24.00
dtype: float64

In [77]:
ss.interpolate(limit = 2, limit_direction = 'backward')

0      NaN
1     7.00
2     7.00
3     7.00
4      NaN
5    15.50
6    19.75
7    24.00
dtype: float64

In [78]:
ss

0     NaN
1     NaN
2     NaN
3     7.0
4     NaN
5     NaN
6     NaN
7    24.0
dtype: float64

In [81]:
ss.interpolate(limit = 3, limit_direction = 'both')

0     7.00
1     7.00
2     7.00
3     7.00
4    11.25
5    15.50
6    19.75
7    24.00
dtype: float64

In [ ]:
# replace method

In [82]:
ss = pd.Series([1,3,5,7,9])

In [83]:
ss

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [84]:
ss.replace(1, 11)

0    11
1     3
2     5
3     7
4     9
dtype: int64

In [85]:
ss.replace(5, 22)

0     1
1     3
2    22
3     7
4     9
dtype: int64

In [86]:
ss.replace([1,3,5],[10,20,30])

0    10
1    20
2    30
3     7
4     9
dtype: int64

In [87]:
ss

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [88]:
ss.replace({7: 10, 9: 20})

0     1
1     3
2     5
3    10
4    20
dtype: int64

In [89]:
dframe3 = pd.DataFrame({'x': [2,4,6,8,10],
                        'y': [3,5,7,9,11]})

In [90]:
dframe3

    x   y
0   2   3
1   4   5
2   6   7
3   8   9
4  10  11

In [91]:
dframe3.replace(4,22)

    x   y
0   2   3
1  22   5
2   6   7
3   8   9
4  10  11

In [92]:
dframe3.replace({'x':8, 'y':9}, 26)

    x   y
0   2   3
1   4   5
2   6   7
3  26  26
4  10  11

In [ ]:
# dropping axis and interpolation