In [1]:
import numpy as np
import pandas as pd

# Generating time - the date_range() function

In [2]:
pd.date_range('2016 Dec 19 5:00', periods = 7, freq='D')

DatetimeIndex(['2016-12-19 05:00:00', '2016-12-20 05:00:00',
               '2016-12-21 05:00:00', '2016-12-22 05:00:00',
               '2016-12-23 05:00:00', '2016-12-24 05:00:00',
               '2016-12-25 05:00:00'],
              dtype='datetime64[ns]', freq='D')

In [3]:
pd.date_range('2016 Dec 19 5:00', periods = 7, freq='B')

DatetimeIndex(['2016-12-19 05:00:00', '2016-12-20 05:00:00',
               '2016-12-21 05:00:00', '2016-12-22 05:00:00',
               '2016-12-23 05:00:00', '2016-12-26 05:00:00',
               '2016-12-27 05:00:00'],
              dtype='datetime64[ns]', freq='B')

In [4]:
pd.date_range('2016 Dec 19 5:00', periods = 7, freq='H')

DatetimeIndex(['2016-12-19 05:00:00', '2016-12-19 06:00:00',
               '2016-12-19 07:00:00', '2016-12-19 08:00:00',
               '2016-12-19 09:00:00', '2016-12-19 10:00:00',
               '2016-12-19 11:00:00'],
              dtype='datetime64[ns]', freq='H')

In [5]:
pd.date_range('2016 Dec 19 5:00', periods = 7, freq='M')

DatetimeIndex(['2016-12-31 05:00:00', '2017-01-31 05:00:00',
               '2017-02-28 05:00:00', '2017-03-31 05:00:00',
               '2017-04-30 05:00:00', '2017-05-31 05:00:00',
               '2017-06-30 05:00:00'],
              dtype='datetime64[ns]', freq='M')

In [6]:
pd.date_range('2016 Dec 19 5:00', periods = 7, freq='MS')

DatetimeIndex(['2017-01-01 05:00:00', '2017-02-01 05:00:00',
               '2017-03-01 05:00:00', '2017-04-01 05:00:00',
               '2017-05-01 05:00:00', '2017-06-01 05:00:00',
               '2017-07-01 05:00:00'],
              dtype='datetime64[ns]', freq='MS')

In [7]:
pd.date_range('2016 Dec 7 5:00', periods = 7, freq='MS')

DatetimeIndex(['2017-01-01 05:00:00', '2017-02-01 05:00:00',
               '2017-03-01 05:00:00', '2017-04-01 05:00:00',
               '2017-05-01 05:00:00', '2017-06-01 05:00:00',
               '2017-07-01 05:00:00'],
              dtype='datetime64[ns]', freq='MS')

In [8]:
pd.date_range(start='2016 Dec 2 5:20', end='2016 Dec 10', freq='20H')

DatetimeIndex(['2016-12-02 05:20:00', '2016-12-03 01:20:00',
               '2016-12-03 21:20:00', '2016-12-04 17:20:00',
               '2016-12-05 13:20:00', '2016-12-06 09:20:00',
               '2016-12-07 05:20:00', '2016-12-08 01:20:00',
               '2016-12-08 21:20:00', '2016-12-09 17:20:00'],
              dtype='datetime64[ns]', freq='20H')

In [10]:
pd.date_range(start='2016 Dec 19 4:35', end='2016 Dec 27 5:45', freq='34H')

DatetimeIndex(['2016-12-19 04:35:00', '2016-12-20 14:35:00',
               '2016-12-22 00:35:00', '2016-12-23 10:35:00',
               '2016-12-24 20:35:00', '2016-12-26 06:35:00'],
              dtype='datetime64[ns]', freq='34H')

In [11]:
pd.date_range('2016 Dec 17 4:30', periods = 5, tz='Asia/Hong_Kong')

DatetimeIndex(['2016-12-17 04:30:00+08:00', '2016-12-18 04:30:00+08:00',
               '2016-12-19 04:30:00+08:00', '2016-12-20 04:30:00+08:00',
               '2016-12-21 04:30:00+08:00'],
              dtype='datetime64[ns, Asia/Hong_Kong]', freq='D')

In [12]:
pd.date_range(end='2016 Dec 28 4:45', periods = 10, tz='Asia/Hong_Kong')

DatetimeIndex(['2016-12-19 04:45:00+08:00', '2016-12-20 04:45:00+08:00',
               '2016-12-21 04:45:00+08:00', '2016-12-22 04:45:00+08:00',
               '2016-12-23 04:45:00+08:00', '2016-12-24 04:45:00+08:00',
               '2016-12-25 04:45:00+08:00', '2016-12-26 04:45:00+08:00',
               '2016-12-27 04:45:00+08:00', '2016-12-28 04:45:00+08:00'],
              dtype='datetime64[ns, Asia/Hong_Kong]', freq='D')

In [14]:
pd.date_range(start='2016 Dec 11 2:22', periods=10, freq='1D')

DatetimeIndex(['2016-12-11 02:22:00', '2016-12-12 02:22:00',
               '2016-12-13 02:22:00', '2016-12-14 02:22:00',
               '2016-12-15 02:22:00', '2016-12-16 02:22:00',
               '2016-12-17 02:22:00', '2016-12-18 02:22:00',
               '2016-12-19 02:22:00', '2016-12-20 02:22:00'],
              dtype='datetime64[ns]', freq='D')

In [15]:
pd.date_range(start='2016 Dec 11 2:22', periods=10, freq='1D', normalize=True)

DatetimeIndex(['2016-12-11', '2016-12-12', '2016-12-13', '2016-12-14',
               '2016-12-15', '2016-12-16', '2016-12-17', '2016-12-18',
               '2016-12-19', '2016-12-20'],
              dtype='datetime64[ns]', freq='D')

In [17]:
pd.date_range(end='2016 Dec 11 3:14:25', periods=8, freq='1D')

DatetimeIndex(['2016-12-04 03:14:25', '2016-12-05 03:14:25',
               '2016-12-06 03:14:25', '2016-12-07 03:14:25',
               '2016-12-08 03:14:25', '2016-12-09 03:14:25',
               '2016-12-10 03:14:25', '2016-12-11 03:14:25'],
              dtype='datetime64[ns]', freq='D')

In [18]:
pd.date_range(end='2016 Dec 11 3:14:25', periods=8, freq='1D', normalize=True)

DatetimeIndex(['2016-12-04', '2016-12-05', '2016-12-06', '2016-12-07',
               '2016-12-08', '2016-12-09', '2016-12-10', '2016-12-11'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
'2016 Dec 7 3:14:22'

In [20]:
pd.date_range('Dec 9, 2016 3:23:55', periods = 5)

DatetimeIndex(['2016-12-09 03:23:55', '2016-12-10 03:23:55',
               '2016-12-11 03:23:55', '2016-12-12 03:23:55',
               '2016-12-13 03:23:55'],
              dtype='datetime64[ns]', freq='D')

In [21]:
pd.date_range('12/15/2016', periods=6)

DatetimeIndex(['2016-12-15', '2016-12-16', '2016-12-17', '2016-12-18',
               '2016-12-19', '2016-12-20'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# 04/05/2016 vs 05/04/2016 vs '2016-12-5' vs '2016/12/5'

# Time stamps

In [22]:
import numpy as np
import pandas as pd

In [23]:
pd.Timestamp('Dec 7, 2016')

Timestamp('2016-12-07 00:00:00')

In [24]:
pd.Timestamp('Dec 7, 2016 4:15:25')

Timestamp('2016-12-07 04:15:25')

In [25]:
pd.Timestamp('2016-12-7 5:25:45.12')

Timestamp('2016-12-07 05:25:45.120000')

In [26]:
pd.Timestamp('2016-12-7 5:25:45.123344544')

Timestamp('2016-12-07 05:25:45.123344544')

In [27]:
pd.Timestamp('2016-12-7 4:24 PM')

Timestamp('2016-12-07 16:24:00')

In [30]:
time = pd.Timestamp('2016-12-7 4:24:29.34568 AM')

In [31]:
time

Timestamp('2016-12-07 04:24:29.345680')

In [32]:
type(time)

pandas.tslib.Timestamp

In [33]:
time.day

7

In [34]:
time.date

In [35]:
time.dayofweek

2

In [36]:
time.is_month_start

False

In [ ]:
# timedelta

In [37]:
pd.Timedelta('2 days')

Timedelta('2 days 00:00:00')

In [39]:
pd.Timedelta('2 days 5:00:30')

Timedelta('2 days 05:00:30')

In [40]:
pd.Timestamp('2016-12-23') + pd.Timedelta('2 days')

Timestamp('2016-12-25 00:00:00')

In [41]:
pd.Timestamp('2016-12-23')

Timestamp('2016-12-23 00:00:00')

In [42]:
pd.Timestamp('2016-12-23 3:23:24') + pd.Timedelta('1 day')

Timestamp('2016-12-24 03:23:24')

In [43]:
pd.Timestamp('2016-12-23 3:23:24') + pd.Timedelta('3 hours')

Timestamp('2016-12-23 06:23:24')

In [44]:
pd.Timestamp('2016-12-23 3:25:00') + pd.Timedelta('4.5 hours')

Timestamp('2016-12-23 07:55:00')

In [46]:
pd.Timestamp('2016-12-23 3:25:00') + pd.Timedelta('3 days 3 hours 3M')

Timestamp('2016-12-26 06:28:00')

# Period and Period_range() fns

In [47]:
pd.Period('2016-12')

Period('2016-12', 'M')

In [48]:
pd.Period('2016-12-29')

Period('2016-12-29', 'D')

In [50]:
pd.Period('2016-12-29 5:25:00')

Period('2016-12-29 05:25:00', 'S')

In [51]:
pd.Period('2016-12-29 5:25')

Period('2016-12-29 05:25', 'T')

In [52]:
period = pd.Period('2016-12')

In [53]:
period.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [54]:
period.start_time

Timestamp('2016-12-01 00:00:00')

In [55]:
period = pd.Period('2016-12-29')

In [56]:
period

Period('2016-12-29', 'D')

In [57]:
period.end_time

Timestamp('2016-12-29 23:59:59.999999999')

In [58]:
period.start_time

Timestamp('2016-12-29 00:00:00')

In [59]:
period = pd.Period('2016-12')

In [60]:
time = pd.Timestamp('Dec 24, 2016')

In [61]:
period

Period('2016-12', 'M')

In [62]:
period.start_time

Timestamp('2016-12-01 00:00:00')

In [64]:
period.start_time < time

True

In [66]:
period.end_time > time

True

In [63]:
time

Timestamp('2016-12-24 00:00:00')

In [67]:
period.start_time < time < period.end_time

True

In [68]:
period = pd.Period('12/25/2016')

In [69]:
period

Period('2016-12-25', 'D')

In [70]:
time = pd.Timestamp('Dec 25, 2016')

In [71]:
time

Timestamp('2016-12-25 00:00:00')

In [72]:
period.start_time < time < period.end_time

False

In [74]:
period.start_time < time

False

In [75]:
time < period.end_time

True

In [76]:
time = pd.Timestamp('Dec 25, 2016 22:11:12')

In [77]:
time

Timestamp('2016-12-25 22:11:12')

In [78]:
period.start_time < time < period.end_time

True

In [79]:
period.start_time

Timestamp('2016-12-25 00:00:00')

In [80]:
period.end_time

Timestamp('2016-12-25 23:59:59.999999999')

In [ ]:
#period_range

In [81]:
pd.period_range('2016-12-12 12:25', freq='H', periods=15)

PeriodIndex(['2016-12-12 12:00', '2016-12-12 13:00', '2016-12-12 14:00',
             '2016-12-12 15:00', '2016-12-12 16:00', '2016-12-12 17:00',
             '2016-12-12 18:00', '2016-12-12 19:00', '2016-12-12 20:00',
             '2016-12-12 21:00', '2016-12-12 22:00', '2016-12-12 23:00',
             '2016-12-13 00:00', '2016-12-13 01:00', '2016-12-13 02:00'],
            dtype='int64', freq='H')

In [82]:
pd.period_range('2016-12-12 12:25', freq='60T', periods=15)

PeriodIndex(['2016-12-12 12:25', '2016-12-12 13:25', '2016-12-12 14:25',
             '2016-12-12 15:25', '2016-12-12 16:25', '2016-12-12 17:25',
             '2016-12-12 18:25', '2016-12-12 19:25', '2016-12-12 20:25',
             '2016-12-12 21:25', '2016-12-12 22:25', '2016-12-12 23:25',
             '2016-12-13 00:25', '2016-12-13 01:25', '2016-12-13 02:25'],
            dtype='int64', freq='60T')

In [83]:
pd.period_range('2016-12-12 12:25', freq='28H', periods=15)

PeriodIndex(['2016-12-12 12:00', '2016-12-13 16:00', '2016-12-14 20:00',
             '2016-12-16 00:00', '2016-12-17 04:00', '2016-12-18 08:00',
             '2016-12-19 12:00', '2016-12-20 16:00', '2016-12-21 20:00',
             '2016-12-23 00:00', '2016-12-24 04:00', '2016-12-25 08:00',
             '2016-12-26 12:00', '2016-12-27 16:00', '2016-12-28 20:00'],
            dtype='int64', freq='28H')

# Indexing Time Series

In [ ]:
# date_range, period and period_range

In [85]:
import numpy as np
import pandas as pd

In [86]:
date = pd.date_range('2016 Dec 26', periods = 12, freq = "D")

In [87]:
date

DatetimeIndex(['2016-12-26', '2016-12-27', '2016-12-28', '2016-12-29',
               '2016-12-30', '2016-12-31', '2017-01-01', '2017-01-02',
               '2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')

In [88]:
date_series = pd.Series(range(len(date)), index=date)

In [89]:
date_series

2016-12-26     0
2016-12-27     1
2016-12-28     2
2016-12-29     3
2016-12-30     4
2016-12-31     5
2017-01-01     6
2017-01-02     7
2017-01-03     8
2017-01-04     9
2017-01-05    10
2017-01-06    11
Freq: D, dtype: int64

In [90]:
type(date_series.index)

pandas.tseries.index.DatetimeIndex

In [91]:
type(date_series.index[0])

pandas.tslib.Timestamp

In [92]:
date_series[:]

2016-12-26     0
2016-12-27     1
2016-12-28     2
2016-12-29     3
2016-12-30     4
2016-12-31     5
2017-01-01     6
2017-01-02     7
2017-01-03     8
2017-01-04     9
2017-01-05    10
2017-01-06    11
Freq: D, dtype: int64

In [93]:
date_series[::2]

2016-12-26     0
2016-12-28     2
2016-12-30     4
2017-01-01     6
2017-01-03     8
2017-01-05    10
Freq: 2D, dtype: int64

In [94]:
date_series[-1]

11

In [95]:
date_series[::-1]

2017-01-06    11
2017-01-05    10
2017-01-04     9
2017-01-03     8
2017-01-02     7
2017-01-01     6
2016-12-31     5
2016-12-30     4
2016-12-29     3
2016-12-28     2
2016-12-27     1
2016-12-26     0
Freq: -1D, dtype: int64

In [100]:
period = [pd.Period('Oct 2016'), pd.Period('Nov 2016'), pd.Period('Dec 2016')]

In [101]:
period

[Period('2016-10', 'M'), Period('2016-11', 'M'), Period('2016-12', 'M')]

In [102]:
period_series = pd.Series(np.random.randn(len(period)), index=period)

In [103]:
period_series

2016-10   -0.968054
2016-11    1.202016
2016-12   -1.243293
Freq: M, dtype: float64

In [104]:
type(period_series.index)

pandas.tseries.period.PeriodIndex

In [105]:
type(period_series.index[1])

pandas._period.Period

In [106]:
periodr_series = pd.Series(range(12), pd.period_range('2016-12-14 4:15', freq='60T', periods=12))

In [107]:
periodr_series

2016-12-14 04:15     0
2016-12-14 05:15     1
2016-12-14 06:15     2
2016-12-14 07:15     3
2016-12-14 08:15     4
2016-12-14 09:15     5
2016-12-14 10:15     6
2016-12-14 11:15     7
2016-12-14 12:15     8
2016-12-14 13:15     9
2016-12-14 14:15    10
2016-12-14 15:15    11
Freq: 60T, dtype: int64

In [108]:
type(periodr_series.index)

pandas.tseries.period.PeriodIndex

In [109]:
type(periodr_series.index[5])

pandas._period.Period

In [110]:
periodr_series[2:4]

2016-12-14 06:15    2
2016-12-14 07:15    3
Freq: 60T, dtype: int64

In [111]:
periodr_series[::3]

2016-12-14 04:15    0
2016-12-14 07:15    3
2016-12-14 10:15    6
2016-12-14 13:15    9
Freq: 60T, dtype: int64

In [ ]:
# to_datetime and strftime

In [ ]:
# May 6, 2016

In [115]:
pd.to_datetime('6/5/2016', dayfirst=True)

Timestamp('2016-05-06 00:00:00')

In [118]:
pd.to_datetime('6/5/2016', dayfirst=True).strftime(format='%d')

'06'

# Dealing with Time Zones

In [1]:
import numpy as np
import pandas as pd

In [2]:
date = pd.date_range('2016-12-15 00:00', periods = 12, freq = 'D')

In [3]:
date

DatetimeIndex(['2016-12-15', '2016-12-16', '2016-12-17', '2016-12-18',
               '2016-12-19', '2016-12-20', '2016-12-21', '2016-12-22',
               '2016-12-23', '2016-12-24', '2016-12-25', '2016-12-26'],
              dtype='datetime64[ns]', freq='D')

In [5]:
x = date.tz

In [6]:
x

In [7]:
date = pd.date_range('2016-12-15 00:00', periods=12, freq='D', tz='Europe/London')

In [8]:
date.tz

In [9]:
from pytz import common_timezones, all_timezones

In [10]:
len(common_timezones)

434

In [11]:
len(all_timezones)

586

In [15]:
print common_timezones[4:15]

['Africa/Asmara', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta']

In [16]:
date = pd.date_range('2016-12-15 00:00', periods=12, freq='D', tz='Africa/Bujumbura')

In [17]:
date.tz

In [ ]:
# tz_localize and tz_convert

In [18]:
time = pd.Timestamp('Dec 5 2016 8:24:23')

In [19]:
time

Timestamp('2016-12-05 08:24:23')

In [20]:
timezone = time.tz_localize(tz='Asia/Tokyo')

In [21]:
timezone

Timestamp('2016-12-05 08:24:23+0900', tz='Asia/Tokyo')

In [22]:
timezone_new = timezone.tz_convert(tz='US/Eastern')

In [23]:
timezone_new

Timestamp('2016-12-04 18:24:23-0500', tz='US/Eastern')

In [24]:
timezone = time.tz_convert(tz='Asia/Tokyo')

TypeError: Cannot convert tz-naive Timestamp, use tz_localize to localize

In [ ]:
# daylight savings

In [25]:
time = pd.date_range('2016 March 8', periods = 12, tz = 'US/Eastern')

In [26]:
time_series = pd.Series(range(12), index=time)

In [27]:
time_series

2016-03-08 00:00:00-05:00     0
2016-03-09 00:00:00-05:00     1
2016-03-10 00:00:00-05:00     2
2016-03-11 00:00:00-05:00     3
2016-03-12 00:00:00-05:00     4
2016-03-13 00:00:00-05:00     5
2016-03-14 00:00:00-04:00     6
2016-03-15 00:00:00-04:00     7
2016-03-16 00:00:00-04:00     8
2016-03-17 00:00:00-04:00     9
2016-03-18 00:00:00-04:00    10
2016-03-19 00:00:00-04:00    11
Freq: D, dtype: int64

In [28]:
time = pd.date_range('2016 March 8', periods = 25, tz = 'US/Eastern')

In [29]:
time_series = pd.Series(range(25), index=time)

In [30]:
time_series

2016-03-08 00:00:00-05:00     0
2016-03-09 00:00:00-05:00     1
2016-03-10 00:00:00-05:00     2
2016-03-11 00:00:00-05:00     3
2016-03-12 00:00:00-05:00     4
2016-03-13 00:00:00-05:00     5
2016-03-14 00:00:00-04:00     6
2016-03-15 00:00:00-04:00     7
2016-03-16 00:00:00-04:00     8
2016-03-17 00:00:00-04:00     9
2016-03-18 00:00:00-04:00    10
2016-03-19 00:00:00-04:00    11
2016-03-20 00:00:00-04:00    12
2016-03-21 00:00:00-04:00    13
2016-03-22 00:00:00-04:00    14
2016-03-23 00:00:00-04:00    15
2016-03-24 00:00:00-04:00    16
2016-03-25 00:00:00-04:00    17
2016-03-26 00:00:00-04:00    18
2016-03-27 00:00:00-04:00    19
2016-03-28 00:00:00-04:00    20
2016-03-29 00:00:00-04:00    21
2016-03-30 00:00:00-04:00    22
2016-03-31 00:00:00-04:00    23
2016-04-01 00:00:00-04:00    24
Freq: D, dtype: int64

In [31]:
time = pd.date_range('2016 March 8', periods = 12, tz = 'UTC')

In [32]:
time_series = pd.Series(range(12), index=time)

In [33]:
time_series

2016-03-08 00:00:00+00:00     0
2016-03-09 00:00:00+00:00     1
2016-03-10 00:00:00+00:00     2
2016-03-11 00:00:00+00:00     3
2016-03-12 00:00:00+00:00     4
2016-03-13 00:00:00+00:00     5
2016-03-14 00:00:00+00:00     6
2016-03-15 00:00:00+00:00     7
2016-03-16 00:00:00+00:00     8
2016-03-17 00:00:00+00:00     9
2016-03-18 00:00:00+00:00    10
2016-03-19 00:00:00+00:00    11
Freq: D, dtype: int64

In [ ]:
# ambiguous times

In [34]:
time = pd.DatetimeIndex(['Nov 6, 2011 00:00:00', 'Nov 6, 2011 01:00:00', 'Nov 6, 2011 01:00:00',\
                        'Nov 6, 2011 02:00:00', 'Nov 6, 2011 03:00:00'])

In [35]:
time

DatetimeIndex(['2011-11-06 00:00:00', '2011-11-06 01:00:00',
               '2011-11-06 01:00:00', '2011-11-06 02:00:00',
               '2011-11-06 03:00:00'],
              dtype='datetime64[ns]', freq=None)

In [36]:
time.tz_localize('US/Central')

AmbiguousTimeError: Cannot infer dst time from Timestamp('2011-11-06 01:00:00'), try using the 'ambiguous' argument

In [37]:
time_tz = time.tz_localize('US/Central', ambiguous='infer')

In [38]:
time_tz

DatetimeIndex(['2011-11-06 00:00:00-05:00', '2011-11-06 01:00:00-05:00',
               '2011-11-06 01:00:00-06:00', '2011-11-06 02:00:00-06:00',
               '2011-11-06 03:00:00-06:00'],
              dtype='datetime64[ns, US/Central]', freq=None)

In [39]:
time_tz = time_tz.tz_convert('UTC')

In [40]:
time_tz

DatetimeIndex(['2011-11-06 05:00:00+00:00', '2011-11-06 06:00:00+00:00',
               '2011-11-06 07:00:00+00:00', '2011-11-06 08:00:00+00:00',
               '2011-11-06 09:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)