In [ ]:
 # to iterate over items or elements in a given seq like list, str, dict or tup

In [1]:
list_num = [2,4,6,8,20]

In [ ]:
for item in [seq]:
    print item

In [2]:
for numbers in list_num:
    print numbers

2
4
6
8
20

In [7]:
number_list = range(0,22)

In [6]:
for numbers in list(range(0,7)):
    print numbers

0
1
2
3
4
5
6

In [8]:
number_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [9]:
for x in number_list:
    print x

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [20]:
#response = int(raw_input("please enter yr number: "))

num_list = [2,5,7,9,14,19,42]

for number in num_list:
    if number % 2 ==0:
        
        if number % 3 == 0:
            print number
            print "num is div by 3 and 2"
        else:
            print number
            print 'div by 2 only'
        
    else:
        print number
        print "the num you entered is not div..."

2
div by 2 only
5
the num you entered is not div...
7
the num you entered is not div...
9
the num you entered is not div...
14
div by 2 only
19
the num you entered is not div...
42
num is div by 3 and 2

In [ ]:
# 6

In [27]:
numbers = [2,3,6,8,12,15,18,22,26,11,13,25]

In [ ]:
# 6 2 and 3

In [25]:
for num in numbers:
    if num % 3 == 0:
        print num

3
6
12
15
18

In [21]:
6%3

0

In [22]:
5%3

2

In [28]:
for num in numbers:
    
    if num % 2 == 0:
        
        if num % 3 == 0:
            print num
            print "the above number is divisible by 6"
            
        else: 
            print num
            print "the above number is div by 2 only"
            
    else:
        
        if num % 3 == 0:
            print num
            print "the above number is divisible by 3 only"
            
        else: 
            print num
            print "the above num is not div by both 2 and 3"

2
the above number is div by 2 only
3
the above number is divisible by 3 only
6
the above number is divisible by 6
8
the above number is div by 2 only
12
the above number is divisible by 6
15
the above number is divisible by 3 only
18
the above number is divisible by 6
22
the above number is div by 2 only
26
the above number is div by 2 only
11
the above num is not div by both 2 and 3
13
the above num is not div by both 2 and 3
25
the above num is not div by both 2 and 3

In [41]:
items = ['item1', 'item2', 'item3', 'item4']

In [44]:
for i in range(len(items)):
    print "item at index", str(i) ,"is: ", items[i]

item at index 0 is:  item1
item at index 1 is:  item2
item at index 2 is:  item3
item at index 3 is:  item4

In [33]:
for i in range(len(items)):
    print  items[i]

item1
item2
item3
item4

In [34]:
items = ['item1','item2','item3','item4']

number = 1
for item in items:
    print (number, item)
    number = number + 1

(1, 'item1')
(2, 'item2')
(3, 'item3')
(4, 'item4')

In [35]:
items = ['item1','item2','item3','item4']

number = 1
for item in items:
    print number, item
    number = number + 1

1 item1
2 item2
3 item3
4 item4

In [36]:
string_name = 'Python is cool!'

In [37]:
for characters in string_name:
    print characters

P
y
t
h
o
n

i
s

c
o
o
l
!

In [38]:
str_name = "Today is a nice day to jog!"

for alp in str_name:
    print alp

T
o
d
a
y

i
s

a

n
i
c
e

d
a
y

t
o

j
o
g
!

In [39]:
for x in "Today and tomorrow":
    print x

T
o
d
a
y

a
n
d

t
o
m
o
r
r
o
w

In [40]:
for elements in "Python for loops":
    print elements

P
y
t
h
o
n

f
o
r

l
o
o
p
s

In [45]:
items = ['item1', 'item2', 'item3', 'item4', 'item5']

In [48]:
range(len(items))

[0, 1, 2, 3, 4]

In [47]:
range(6)

[0, 1, 2, 3, 4, 5]

In [49]:
for i in range(len(items)):
    print items[i]

item1
item2
item3
item4
item5

In [50]:
for i in range(len(items)):
    print "item at index", str(i), "is: ", items[i]

item at index 0 is:  item1
item at index 1 is:  item2
item at index 2 is:  item3
item at index 3 is:  item4
item at index 4 is:  item5

In [51]:
items

['item1', 'item2', 'item3', 'item4', 'item5']

In [54]:
number = 0
for item in items:
    print (number, item)
    number = number + 1

(0, 'item1')
(1, 'item2')
(2, 'item3')
(3, 'item4')
(4, 'item5')

In [55]:
name = "Michael"

In [56]:
for characters in name:
    print characters

M
i
c
h
a
e
l

In [57]:
for alphabets in name:
    print alphabets

M
i
c
h
a
e
l

In [60]:
for i in name:
    print i

M
i
c
h
a
e
l

In [61]:
string_name = "Today is a great day to jog!"

In [62]:
for charx in string_name:
    print charx

T
o
d
a
y

i
s

a

g
r
e
a
t

d
a
y

t
o

j
o
g
!

In [63]:
for elem in "today is cold":
    print elem

t
o
d
a
y

i
s

c
o
l
d

In [64]:
for name in "Michael":
    print name

M
i
c
h
a
e
l