In [ ]:
# url = 'http://pandas.pydata.org/pandas-docs/version/0.15.2/indexing.html'

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
-used to get data

# indexing using
.loc = label based. Inputs = label, list, slice with labels...

.iloc = integer based. Inputs = int, list, slice with int 

.ix = both int and label based

In [3]:
date = pd.date_range('10/21/2016', periods = 10)

In [4]:
dframe = pd.DataFrame(np.random.randn(10,4), index = date, columns = ['A','B','C','D'])

In [6]:
ss = dframe['A']

In [8]:
ss[date[8]]

0.018620976398949024

In [5]:
dframe

                   A         B         C         D
2016-10-21  0.317466 -0.637688  0.099786 -0.382676
2016-10-22  0.860979 -1.586890 -0.176333 -0.646612
2016-10-23 -2.340773  0.693222  2.472040  1.046269
2016-10-24  1.002538  1.074048 -1.133200 -1.055946
2016-10-25  0.912277  0.302918  0.034971 -0.458919
2016-10-26  0.169591  0.087651  0.867945  0.110991
2016-10-27 -0.149188  0.630810 -1.783576  0.525429
2016-10-28  0.011558  1.235737 -0.702257  0.374650
2016-10-29  0.317727  0.295546  0.432393 -0.448660
2016-10-30 -0.457741  0.146474 -0.222008 -1.124056

In [6]:
dframe

                   A         B         C         D
2016-10-21  0.317466 -0.637688  0.099786 -0.382676
2016-10-22  0.860979 -1.586890 -0.176333 -0.646612
2016-10-23 -2.340773  0.693222  2.472040  1.046269
2016-10-24  1.002538  1.074048 -1.133200 -1.055946
2016-10-25  0.912277  0.302918  0.034971 -0.458919
2016-10-26  0.169591  0.087651  0.867945  0.110991
2016-10-27 -0.149188  0.630810 -1.783576  0.525429
2016-10-28  0.011558  1.235737 -0.702257  0.374650
2016-10-29  0.317727  0.295546  0.432393 -0.448660
2016-10-30 -0.457741  0.146474 -0.222008 -1.124056

In [7]:
dframe[['A', 'B']]

                   A         B
2016-10-21  0.317466 -0.637688
2016-10-22  0.860979 -1.586890
2016-10-23 -2.340773  0.693222
2016-10-24  1.002538  1.074048
2016-10-25  0.912277  0.302918
2016-10-26  0.169591  0.087651
2016-10-27 -0.149188  0.630810
2016-10-28  0.011558  1.235737
2016-10-29  0.317727  0.295546
2016-10-30 -0.457741  0.146474

In [8]:
dframe[['B', 'A']] = dframe[['A', 'B']]

In [9]:
dframe

                   A         B         C         D
2016-10-21 -0.637688  0.317466  0.099786 -0.382676
2016-10-22 -1.586890  0.860979 -0.176333 -0.646612
2016-10-23  0.693222 -2.340773  2.472040  1.046269
2016-10-24  1.074048  1.002538 -1.133200 -1.055946
2016-10-25  0.302918  0.912277  0.034971 -0.458919
2016-10-26  0.087651  0.169591  0.867945  0.110991
2016-10-27  0.630810 -0.149188 -1.783576  0.525429
2016-10-28  1.235737  0.011558 -0.702257  0.374650
2016-10-29  0.295546  0.317727  0.432393 -0.448660
2016-10-30  0.146474 -0.457741 -0.222008 -1.124056

In [10]:
dframe.loc[:, ['B','A']] = dframe[['A','B']]

In [11]:
dframe

                   A         B         C         D
2016-10-21 -0.637688  0.317466  0.099786 -0.382676
2016-10-22 -1.586890  0.860979 -0.176333 -0.646612
2016-10-23  0.693222 -2.340773  2.472040  1.046269
2016-10-24  1.074048  1.002538 -1.133200 -1.055946
2016-10-25  0.302918  0.912277  0.034971 -0.458919
2016-10-26  0.087651  0.169591  0.867945  0.110991
2016-10-27  0.630810 -0.149188 -1.783576  0.525429
2016-10-28  1.235737  0.011558 -0.702257  0.374650
2016-10-29  0.295546  0.317727  0.432393 -0.448660
2016-10-30  0.146474 -0.457741 -0.222008 -1.124056

In [12]:
dframe[['A', 'B']]

                   A         B
2016-10-21 -0.637688  0.317466
2016-10-22 -1.586890  0.860979
2016-10-23  0.693222 -2.340773
2016-10-24  1.074048  1.002538
2016-10-25  0.302918  0.912277
2016-10-26  0.087651  0.169591
2016-10-27  0.630810 -0.149188
2016-10-28  1.235737  0.011558
2016-10-29  0.295546  0.317727
2016-10-30  0.146474 -0.457741

In [13]:
dframe.loc[:, ['B','A']] = dframe[['A','B']].values

In [14]:
dframe

                   A         B         C         D
2016-10-21  0.317466 -0.637688  0.099786 -0.382676
2016-10-22  0.860979 -1.586890 -0.176333 -0.646612
2016-10-23 -2.340773  0.693222  2.472040  1.046269
2016-10-24  1.002538  1.074048 -1.133200 -1.055946
2016-10-25  0.912277  0.302918  0.034971 -0.458919
2016-10-26  0.169591  0.087651  0.867945  0.110991
2016-10-27 -0.149188  0.630810 -1.783576  0.525429
2016-10-28  0.011558  1.235737 -0.702257  0.374650
2016-10-29  0.317727  0.295546  0.432393 -0.448660
2016-10-30 -0.457741  0.146474 -0.222008 -1.124056

In [15]:
# Accessing Attributes

In [16]:
ss = pd.Series([1,2,3], index = list('abc'))

In [17]:
ss

a    1
b    2
c    3
dtype: int64

In [18]:
dframe

                   A         B         C         D
2016-10-21  0.317466 -0.637688  0.099786 -0.382676
2016-10-22  0.860979 -1.586890 -0.176333 -0.646612
2016-10-23 -2.340773  0.693222  2.472040  1.046269
2016-10-24  1.002538  1.074048 -1.133200 -1.055946
2016-10-25  0.912277  0.302918  0.034971 -0.458919
2016-10-26  0.169591  0.087651  0.867945  0.110991
2016-10-27 -0.149188  0.630810 -1.783576  0.525429
2016-10-28  0.011558  1.235737 -0.702257  0.374650
2016-10-29  0.317727  0.295546  0.432393 -0.448660
2016-10-30 -0.457741  0.146474 -0.222008 -1.124056

In [19]:
dframe1 = dframe.copy()

In [20]:
ss

a    1
b    2
c    3
dtype: int64

In [21]:
ss.c

3

In [22]:
ss.a

1

In [23]:
dframe1

                   A         B         C         D
2016-10-21  0.317466 -0.637688  0.099786 -0.382676
2016-10-22  0.860979 -1.586890 -0.176333 -0.646612
2016-10-23 -2.340773  0.693222  2.472040  1.046269
2016-10-24  1.002538  1.074048 -1.133200 -1.055946
2016-10-25  0.912277  0.302918  0.034971 -0.458919
2016-10-26  0.169591  0.087651  0.867945  0.110991
2016-10-27 -0.149188  0.630810 -1.783576  0.525429
2016-10-28  0.011558  1.235737 -0.702257  0.374650
2016-10-29  0.317727  0.295546  0.432393 -0.448660
2016-10-30 -0.457741  0.146474 -0.222008 -1.124056

In [24]:
dframe1.C

2016-10-21    0.099786
2016-10-22   -0.176333
2016-10-23    2.472040
2016-10-24   -1.133200
2016-10-25    0.034971
2016-10-26    0.867945
2016-10-27   -1.783576
2016-10-28   -0.702257
2016-10-29    0.432393
2016-10-30   -0.222008
Freq: D, Name: C, dtype: float64

In [25]:
ss.a = 25

In [26]:
ss

a    25
b     2
c     3
dtype: int64

In [27]:
dframe1

                   A         B         C         D
2016-10-21  0.317466 -0.637688  0.099786 -0.382676
2016-10-22  0.860979 -1.586890 -0.176333 -0.646612
2016-10-23 -2.340773  0.693222  2.472040  1.046269
2016-10-24  1.002538  1.074048 -1.133200 -1.055946
2016-10-25  0.912277  0.302918  0.034971 -0.458919
2016-10-26  0.169591  0.087651  0.867945  0.110991
2016-10-27 -0.149188  0.630810 -1.783576  0.525429
2016-10-28  0.011558  1.235737 -0.702257  0.374650
2016-10-29  0.317727  0.295546  0.432393 -0.448660
2016-10-30 -0.457741  0.146474 -0.222008 -1.124056

In [28]:
dframe1.B = list(range(len(dframe1.index)))

In [29]:
dframe1

                   A  B         C         D
2016-10-21  0.317466  0  0.099786 -0.382676
2016-10-22  0.860979  1 -0.176333 -0.646612
2016-10-23 -2.340773  2  2.472040  1.046269
2016-10-24  1.002538  3 -1.133200 -1.055946
2016-10-25  0.912277  4  0.034971 -0.458919
2016-10-26  0.169591  5  0.867945  0.110991
2016-10-27 -0.149188  6 -1.783576  0.525429
2016-10-28  0.011558  7 -0.702257  0.374650
2016-10-29  0.317727  8  0.432393 -0.448660
2016-10-30 -0.457741  9 -0.222008 -1.124056

In [30]:
ab = pd.DataFrame({'a': [1,2,3],
              'b': [3,4,5]})

In [31]:
ab

   a  b
0  1  3
1  2  4
2  3  5

In [32]:
ab.iloc[1] = dict(a=22, b=44)

In [33]:
ab

    a   b
0   1   3
1  22  44
2   3   5

In [ ]:
# Slicing !

In [34]:
dframe1

                   A  B         C         D
2016-10-21  0.317466  0  0.099786 -0.382676
2016-10-22  0.860979  1 -0.176333 -0.646612
2016-10-23 -2.340773  2  2.472040  1.046269
2016-10-24  1.002538  3 -1.133200 -1.055946
2016-10-25  0.912277  4  0.034971 -0.458919
2016-10-26  0.169591  5  0.867945  0.110991
2016-10-27 -0.149188  6 -1.783576  0.525429
2016-10-28  0.011558  7 -0.702257  0.374650
2016-10-29  0.317727  8  0.432393 -0.448660
2016-10-30 -0.457741  9 -0.222008 -1.124056

In [35]:
dframe1[:5]

                   A  B         C         D
2016-10-21  0.317466  0  0.099786 -0.382676
2016-10-22  0.860979  1 -0.176333 -0.646612
2016-10-23 -2.340773  2  2.472040  1.046269
2016-10-24  1.002538  3 -1.133200 -1.055946
2016-10-25  0.912277  4  0.034971 -0.458919

In [36]:
dframe1[::]

                   A  B         C         D
2016-10-21  0.317466  0  0.099786 -0.382676
2016-10-22  0.860979  1 -0.176333 -0.646612
2016-10-23 -2.340773  2  2.472040  1.046269
2016-10-24  1.002538  3 -1.133200 -1.055946
2016-10-25  0.912277  4  0.034971 -0.458919
2016-10-26  0.169591  5  0.867945  0.110991
2016-10-27 -0.149188  6 -1.783576  0.525429
2016-10-28  0.011558  7 -0.702257  0.374650
2016-10-29  0.317727  8  0.432393 -0.448660
2016-10-30 -0.457741  9 -0.222008 -1.124056

In [37]:
dframe1[::2]

                   A  B         C         D
2016-10-21  0.317466  0  0.099786 -0.382676
2016-10-23 -2.340773  2  2.472040  1.046269
2016-10-25  0.912277  4  0.034971 -0.458919
2016-10-27 -0.149188  6 -1.783576  0.525429
2016-10-29  0.317727  8  0.432393 -0.448660

In [38]:
dframe1[::-1]

                   A  B         C         D
2016-10-30 -0.457741  9 -0.222008 -1.124056
2016-10-29  0.317727  8  0.432393 -0.448660
2016-10-28  0.011558  7 -0.702257  0.374650
2016-10-27 -0.149188  6 -1.783576  0.525429
2016-10-26  0.169591  5  0.867945  0.110991
2016-10-25  0.912277  4  0.034971 -0.458919
2016-10-24  1.002538  3 -1.133200 -1.055946
2016-10-23 -2.340773  2  2.472040  1.046269
2016-10-22  0.860979  1 -0.176333 -0.646612
2016-10-21  0.317466  0  0.099786 -0.382676

In [39]:
ss

a    25
b     2
c     3
dtype: int64

In [40]:
ss[:1]

a    25
dtype: int64

In [41]:
dframe1

                   A  B         C         D
2016-10-21  0.317466  0  0.099786 -0.382676
2016-10-22  0.860979  1 -0.176333 -0.646612
2016-10-23 -2.340773  2  2.472040  1.046269
2016-10-24  1.002538  3 -1.133200 -1.055946
2016-10-25  0.912277  4  0.034971 -0.458919
2016-10-26  0.169591  5  0.867945  0.110991
2016-10-27 -0.149188  6 -1.783576  0.525429
2016-10-28  0.011558  7 -0.702257  0.374650
2016-10-29  0.317727  8  0.432393 -0.448660
2016-10-30 -0.457741  9 -0.222008 -1.124056

In [43]:
dframe1[:3] = 7

In [44]:
dframe1

                   A  B         C         D
2016-10-21  7.000000  7  7.000000  7.000000
2016-10-22  7.000000  7  7.000000  7.000000
2016-10-23  7.000000  7  7.000000  7.000000
2016-10-24  1.002538  3 -1.133200 -1.055946
2016-10-25  0.912277  4  0.034971 -0.458919
2016-10-26  0.169591  5  0.867945  0.110991
2016-10-27 -0.149188  6 -1.783576  0.525429
2016-10-28  0.011558  7 -0.702257  0.374650
2016-10-29  0.317727  8  0.432393 -0.448660
2016-10-30 -0.457741  9 -0.222008 -1.124056

In [45]:
dframe1[3:7]

                   A  B         C         D
2016-10-24  1.002538  3 -1.133200 -1.055946
2016-10-25  0.912277  4  0.034971 -0.458919
2016-10-26  0.169591  5  0.867945  0.110991
2016-10-27 -0.149188  6 -1.783576  0.525429

In [ ]:
# indexing using .loc = selection by label

In [5]:
dframe1 = pd.DataFrame(np.random.randn(6,4), columns=list('ABCD'), index=index_date)

In [4]:
index_date = pd.date_range('10/22/2016', periods=6)

In [54]:
dframe1

                   A         B         C         D
2016-10-22 -2.239248  0.781703 -1.474216  0.093445
2016-10-23 -0.714765 -0.229375  0.227904  0.737453
2016-10-24 -0.949109  0.506463 -0.491225 -0.377734
2016-10-25 -1.290647  0.901333 -0.076998  1.827790
2016-10-26 -0.157265 -1.753278  1.008397 -0.099174
2016-10-27  0.678053  1.032838  0.203280 -0.152727

In [56]:
dframe1.loc['10/22/2016':'10/25/2016']

                   A         B         C         D
2016-10-22 -2.239248  0.781703 -1.474216  0.093445
2016-10-23 -0.714765 -0.229375  0.227904  0.737453
2016-10-24 -0.949109  0.506463 -0.491225 -0.377734
2016-10-25 -1.290647  0.901333 -0.076998  1.827790

In [ ]:
# .loc = label

In [57]:
ser1 = pd.Series(np.random.randn(5), index=list('ABCDE'))

In [58]:
ser1

A    0.857713
B    1.713877
C    1.488722
D    0.469192
E    0.171734
dtype: float64

In [59]:
ser1.loc['B':]

B    1.713877
C    1.488722
D    0.469192
E    0.171734
dtype: float64

In [60]:
ser1.loc['E']

0.17173432643921691

In [62]:
ser1.loc['D':] = 5

In [63]:
ser1

A    0.857713
B    1.713877
C    1.488722
D    5.000000
E    5.000000
dtype: float64

In [2]:
dframe1

NameError: name 'dframe1' is not defined

In [71]:
dframe1.loc['10/22/2016':'10/23/2016', :]

                   A         B         C         D
2016-10-22 -2.239248  0.781703 -1.474216  0.093445
2016-10-23 -0.714765 -0.229375  0.227904  0.737453

In [72]:
dframe1.loc['10/22/2016':'10/24/2016', 'A':'C']

                   A         B         C
2016-10-22 -2.239248  0.781703 -1.474216
2016-10-23 -0.714765 -0.229375  0.227904
2016-10-24 -0.949109  0.506463 -0.491225

In [73]:
dframe = pd.DataFrame(np.random.randn(7,4), index=list('abcdefg'), columns=list('ABCD'))

In [74]:
dframe

          A         B         C         D
a -0.792404  1.148989 -0.342690  3.290417
b -0.823993  0.373040  0.948801 -0.412132
c  1.199582  0.241584  0.401527 -0.127243
d -0.255996  0.156940  1.375049 -1.175791
e -1.466952 -1.315027  1.365361 -2.448420
f -0.201260  1.142404  0.093080 -0.720436
g  0.174487 -2.430436 -2.376943 -1.444058

In [75]:
dframe.loc['a':'c',:]

          A         B         C         D
a -0.792404  1.148989 -0.342690  3.290417
b -0.823993  0.373040  0.948801 -0.412132
c  1.199582  0.241584  0.401527 -0.127243

In [76]:
dframe.loc[['a','b','c'], :]

          A         B         C         D
a -0.792404  1.148989 -0.342690  3.290417
b -0.823993  0.373040  0.948801 -0.412132
c  1.199582  0.241584  0.401527 -0.127243

In [77]:
dframe.loc['e':, 'B':'D']

          B         C         D
e -1.315027  1.365361 -2.448420
f  1.142404  0.093080 -0.720436
g -2.430436 -2.376943 -1.444058

In [78]:
dframe.loc['e':, 'B':]

          B         C         D
e -1.315027  1.365361 -2.448420
f  1.142404  0.093080 -0.720436
g -2.430436 -2.376943 -1.444058

In [79]:
dframe.loc['g']

A    0.174487
B   -2.430436
C   -2.376943
D   -1.444058
Name: g, dtype: float64

In [80]:
dframe

          A         B         C         D
a -0.792404  1.148989 -0.342690  3.290417
b -0.823993  0.373040  0.948801 -0.412132
c  1.199582  0.241584  0.401527 -0.127243
d -0.255996  0.156940  1.375049 -1.175791
e -1.466952 -1.315027  1.365361 -2.448420
f -0.201260  1.142404  0.093080 -0.720436
g  0.174487 -2.430436 -2.376943 -1.444058

In [82]:
dframe.loc['g'] > 0

A     True
B    False
C    False
D    False
Name: g, dtype: bool

In [ ]:
# Indexing using .iloc = Selection by position

In [ ]:
# int, list of int,

In [84]:
ser1 = pd.Series(np.random.randn(5), index=list(range(10,20,2)))

In [85]:
ser1

10    1.511466
12   -0.497285
14   -0.913414
16   -1.538484
18   -0.385798
dtype: float64

In [86]:
ser1.iloc[:3]

10    1.511466
12   -0.497285
14   -0.913414
dtype: float64

In [87]:
ser1.iloc[1]

-0.49728518380738851

In [88]:
ser1.iloc[3]

-1.538484323401081

In [89]:
ser1.iloc[:3] = 7

In [90]:
ser1

10    7.000000
12    7.000000
14    7.000000
16   -1.538484
18   -0.385798
dtype: float64

In [93]:
dframe1 = pd.DataFrame(np.random.randn(6,4), index=list(range(10,22,2)),
                      columns = list(range(0,8,2)))

In [94]:
dframe1

           0         2         4         6
10  1.965073 -0.926258 -0.138213 -0.200228
12 -0.161550  3.279548  0.717341 -2.003515
14  0.411573 -0.312125 -0.660164 -1.345864
16  0.304731  0.848655  0.798643  1.854648
18  2.017003 -0.344122 -0.231533 -0.074669
20 -1.799061 -2.144240  0.528681  1.415845

In [95]:
dframe1.iloc[:4]

           0         2         4         6
10  1.965073 -0.926258 -0.138213 -0.200228
12 -0.161550  3.279548  0.717341 -2.003515
14  0.411573 -0.312125 -0.660164 -1.345864
16  0.304731  0.848655  0.798643  1.854648

In [96]:
dframe1.iloc[4:]

           0         2         4         6
18  2.017003 -0.344122 -0.231533 -0.074669
20 -1.799061 -2.144240  0.528681  1.415845

In [97]:
dframe1.iloc[1:5, 2:4]

           4         6
12  0.717341 -2.003515
14 -0.660164 -1.345864
16  0.798643  1.854648
18 -0.231533 -0.074669

In [98]:
dframe1

           0         2         4         6
10  1.965073 -0.926258 -0.138213 -0.200228
12 -0.161550  3.279548  0.717341 -2.003515
14  0.411573 -0.312125 -0.660164 -1.345864
16  0.304731  0.848655  0.798643  1.854648
18  2.017003 -0.344122 -0.231533 -0.074669
20 -1.799061 -2.144240  0.528681  1.415845

In [100]:
dframe1

           0         2         4         6
10  1.965073 -0.926258 -0.138213 -0.200228
12 -0.161550  3.279548  0.717341 -2.003515
14  0.411573 -0.312125 -0.660164 -1.345864
16  0.304731  0.848655  0.798643  1.854648
18  2.017003 -0.344122 -0.231533 -0.074669
20 -1.799061 -2.144240  0.528681  1.415845

In [101]:
dframe1.iloc[[1,2,4], [0,1,3]]

           0         2         6
12 -0.161550  3.279548 -2.003515
14  0.411573 -0.312125 -1.345864
18  2.017003 -0.344122 -0.074669

In [104]:
dframe1.iloc[:, 0:2]

           0         2
10  1.965073 -0.926258
12 -0.161550  3.279548
14  0.411573 -0.312125
16  0.304731  0.848655
18  2.017003 -0.344122
20 -1.799061 -2.144240

In [108]:
dframe1.iloc[5]

0   -1.799061
2   -2.144240
4    0.528681
6    1.415845
Name: 20, dtype: float64

In [109]:
dframe1.iloc[-1]

0   -1.799061
2   -2.144240
4    0.528681
6    1.415845
Name: 20, dtype: float64

In [114]:
ser = pd.Series(list('abcdefg'))

In [115]:
ser

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object

In [116]:
ser.iloc[2:5]

2    c
3    d
4    e
dtype: object

In [117]:
ser.iloc[2:9]

2    c
3    d
4    e
5    f
6    g
dtype: object

In [118]:
ser.iloc[7:9]

Series([], dtype: object)

In [120]:
dframe = pd.DataFrame(np.random.randn(6,3), columns=list('ABC'))

In [121]:
dframe

          A         B         C
0  1.383437  1.663329 -1.669360
1  0.008265 -1.150673 -0.248113
2 -0.528481  1.051590  1.220160
3 -0.889741 -0.500116  0.597679
4  0.183971 -0.483925 -0.804003
5  0.275036  0.576658 -0.291720

In [122]:
dframe.iloc[0:3, 0:2]

          A         B
0  1.383437  1.663329
1  0.008265 -1.150673
2 -0.528481  1.051590

In [124]:
dframe.iloc[7:9, 3:4]

Empty DataFrame
Columns: []
Index: []

In [126]:
# dframe.iloc[2:3, 5]

In [128]:
# dframe.iloc[[6,7,8]]

In [131]:
#dframe.iloc[[2,3,8]]

In [ ]:
# Selection using a function with one argument = lambda function

In [132]:
dframe = pd.DataFrame(np.random.randn(7,4), index=list('abcdefg'),
                     columns=list('ABCD'))

In [133]:
dframe

          A         B         C         D
a -2.522418  1.314674 -0.886155 -0.318903
b -0.570168 -0.539006  0.018655 -0.264009
c  0.376278 -0.980230  0.678742 -0.461364
d  2.213283  0.644935 -1.132753 -0.953886
e  0.564894 -1.686079 -0.903379 -0.301806
f -0.205044 -0.037161  0.305880  0.403443
g -0.404672 -0.149229  0.999931 -1.065490

In [134]:
dframe.loc[lambda x: x.B > 0, :]

          A         B         C         D
a -2.522418  1.314674 -0.886155 -0.318903
d  2.213283  0.644935 -1.132753 -0.953886

In [135]:
dframe.loc[:, lambda x: ['C','D']]

          C         D
a -0.886155 -0.318903
b  0.018655 -0.264009
c  0.678742 -0.461364
d -1.132753 -0.953886
e -0.903379 -0.301806
f  0.305880  0.403443
g  0.999931 -1.065490

In [136]:
dframe.iloc[:, lambda x: [0,2]]

          A         C
a -2.522418 -0.886155
b -0.570168  0.018655
c  0.376278  0.678742
d  2.213283 -1.132753
e  0.564894 -0.903379
f -0.205044  0.305880
g -0.404672  0.999931

In [138]:
aa = dframe[lambda x: x.columns[2]]

In [139]:
aa

a   -0.886155
b    0.018655
c    0.678742
d   -1.132753
e   -0.903379
f    0.305880
g    0.999931
Name: C, dtype: float64

In [140]:
type(aa)

pandas.core.series.Series

In [141]:
aa[lambda x: x>0]

b    0.018655
c    0.678742
f    0.305880
g    0.999931
Name: C, dtype: float64

In [142]:
aa[lambda x: x >= 0.5]

c    0.678742
g    0.999931
Name: C, dtype: float64

In [ ]:
# Indexing using Booleans - & and, | or , ~ not

In [13]:
ss = pd.Series(range(-5,5))

In [14]:
ss

0   -5
1   -4
2   -3
3   -2
4   -1
5    0
6    1
7    2
8    3
9    4
dtype: int64

In [15]:
ss[ss>0]

6    1
7    2
8    3
9    4
dtype: int64

In [16]:
ss[(ss < 0) | (ss > 0)]

0   -5
1   -4
2   -3
3   -2
4   -1
6    1
7    2
8    3
9    4
dtype: int64

In [17]:
ss[~(ss<1)]

6    1
7    2
8    3
9    4
dtype: int64

In [20]:
ss[(ss < -2) & (ss < 1)]

0   -5
1   -4
2   -3
dtype: int64

In [18]:
ss[(ss < -2)]

0   -5
1   -4
2   -3
dtype: int64

In [19]:
ss[(ss < 1)]

0   -5
1   -4
2   -3
3   -2
4   -1
5    0
dtype: int64

In [21]:
dframe1

                   A         B         C         D
2016-10-22 -1.806121  1.415890  1.969997 -0.281817
2016-10-23  1.612805  1.135998 -0.658418  0.221004
2016-10-24  0.017473 -1.613759 -1.219756 -0.307934
2016-10-25 -0.195315 -0.631459 -0.201217  0.730618
2016-10-26 -1.115099  0.602710 -1.669311  1.507443
2016-10-27 -0.321255 -0.862886 -2.274649 -0.820517
2016-10-28 -1.284021  1.666436  0.126689  0.043249
2016-10-29  0.081741 -0.761756  1.303133  0.063566
2016-10-30  0.215802 -0.570764  1.732981 -1.342008
2016-10-31 -0.968929  1.905014 -0.746529 -0.489402

In [10]:
# index_date = pd.date_range('10/22/2016', periods=10)

In [11]:
# dframe1 = pd.DataFrame(np.random.randn(10,4), columns=list('ABCD'), index=index_date)

In [22]:
dframe1

                   A         B         C         D
2016-10-22 -1.806121  1.415890  1.969997 -0.281817
2016-10-23  1.612805  1.135998 -0.658418  0.221004
2016-10-24  0.017473 -1.613759 -1.219756 -0.307934
2016-10-25 -0.195315 -0.631459 -0.201217  0.730618
2016-10-26 -1.115099  0.602710 -1.669311  1.507443
2016-10-27 -0.321255 -0.862886 -2.274649 -0.820517
2016-10-28 -1.284021  1.666436  0.126689  0.043249
2016-10-29  0.081741 -0.761756  1.303133  0.063566
2016-10-30  0.215802 -0.570764  1.732981 -1.342008
2016-10-31 -0.968929  1.905014 -0.746529 -0.489402

In [23]:
dframe1[(dframe1['A'] > 0) | (dframe1['B'] > 0)]

                   A         B         C         D
2016-10-22 -1.806121  1.415890  1.969997 -0.281817
2016-10-23  1.612805  1.135998 -0.658418  0.221004
2016-10-24  0.017473 -1.613759 -1.219756 -0.307934
2016-10-26 -1.115099  0.602710 -1.669311  1.507443
2016-10-28 -1.284021  1.666436  0.126689  0.043249
2016-10-29  0.081741 -0.761756  1.303133  0.063566
2016-10-30  0.215802 -0.570764  1.732981 -1.342008
2016-10-31 -0.968929  1.905014 -0.746529 -0.489402

In [24]:
dframe1[(dframe1['A'] > 0) & (dframe1['B'] > 0)]

                   A         B         C         D
2016-10-23  1.612805  1.135998 -0.658418  0.221004

In [25]:
dframe = pd.DataFrame({'a': ['one','one','one','two','three','four','five','four'],
                       'b': ['x','x','y','y','x','y','x','x'],
                       'c': np.random.randn(8)})

In [26]:
dframe

       a  b         c
0    one  x -0.165217
1    one  x -1.616168
2    one  y  0.820990
3    two  y  1.083184
4  three  x  0.671711
5   four  y  0.539829
6   five  x  0.207480
7   four  x  1.206623

In [27]:
df_ones = dframe['a'].map(lambda i : i.startswith('o'))

In [28]:
df_ones

0     True
1     True
2     True
3    False
4    False
5    False
6    False
7    False
Name: a, dtype: bool

In [29]:
dframe[df_ones]

     a  b         c
0  one  x -0.165217
1  one  x -1.616168
2  one  y  0.820990

In [30]:
df_ff = dframe['a'].map(lambda i : i.startswith('f'))

In [31]:
df_ff

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
Name: a, dtype: bool

In [32]:
dframe[df_ff]

      a  b         c
5  four  y  0.539829
6  five  x  0.207480
7  four  x  1.206623

In [34]:
dframe[df_ones & (dframe['b'] == 'y')]

     a  b        c
2  one  y  0.82099

In [33]:
dframe

       a  b         c
0    one  x -0.165217
1    one  x -1.616168
2    one  y  0.820990
3    two  y  1.083184
4  three  x  0.671711
5   four  y  0.539829
6   five  x  0.207480
7   four  x  1.206623

In [35]:
dframe[df_ones | (dframe['b'] == 'y')]

      a  b         c
0   one  x -0.165217
1   one  x -1.616168
2   one  y  0.820990
3   two  y  1.083184
5  four  y  0.539829

In [37]:
dframe[df_ff | (dframe['b'] == 'x')]

       a  b         c
0    one  x -0.165217
1    one  x -1.616168
4  three  x  0.671711
5   four  y  0.539829
6   five  x  0.207480
7   four  x  1.206623

In [ ]:
# indexing using 'isin'

In [38]:
ss = pd.Series(np.arange(7), index = np.arange(7)[::-1])

In [39]:
ss

6    0
5    1
4    2
3    3
2    4
1    5
0    6
dtype: int64

In [40]:
ss.isin([1,3,5,7])

6    False
5     True
4    False
3     True
2    False
1     True
0    False
dtype: bool

In [41]:
ss[ss.isin([1,3,5,7])]

5    1
3    3
1    5
dtype: int64

In [42]:
dframe = pd.DataFrame({'key1': [1,2,3,4,5],
                       'key2': ['a','b','c','d','e'],
                       'key3': ['x','y','z','s','k']})

In [43]:
dframe

   key1 key2 key3
0     1    a    x
1     2    b    y
2     3    c    z
3     4    d    s
4     5    e    k

In [44]:
var = ['x', 'k', 4, 5]

In [45]:
dframe.isin(var)

    key1   key2   key3
0  False  False   True
1  False  False  False
2  False  False  False
3   True  False  False
4   True  False   True

In [46]:
dframe[dframe.isin(var)]

   key1 key2 key3
0   NaN  NaN    x
1   NaN  NaN  NaN
2   NaN  NaN  NaN
3   4.0  NaN  NaN
4   5.0  NaN    k

In [49]:
var = [1,2,3,'b','c']

In [50]:
dframe.isin(var)

    key1   key2   key3
0   True  False  False
1   True   True  False
2   True   True  False
3  False  False  False
4  False  False  False

In [51]:
dframe

   key1 key2 key3
0     1    a    x
1     2    b    y
2     3    c    z
3     4    d    s
4     5    e    k

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
# Dealing with Duplicate Data

In [ ]:
 # duplicated, drop_duplicates

In [4]:
dframe = pd.DataFrame({'a': ['one','one','one','two','two','two','three','three','four','five'],
                       'b': ['x','x','y','x','y','y','x','y','x','x'],
                       'c': np.random.randn(10)})

In [5]:
dframe

       a  b         c
0    one  x -0.064362
1    one  x -2.263675
2    one  y -1.613766
3    two  x  0.969167
4    two  y  1.124786
5    two  y -1.385822
6  three  x  0.846968
7  three  y -0.093377
8   four  x -1.227077
9   five  x  1.691652

In [6]:
dframe.duplicated('b')

0    False
1     True
2    False
3     True
4     True
5     True
6     True
7     True
8     True
9     True
dtype: bool

In [7]:
dframe.duplicated('a')

0    False
1     True
2     True
3    False
4     True
5     True
6    False
7     True
8    False
9    False
dtype: bool

In [ ]:
#keep

In [8]:
dframe.duplicated('b', keep = 'last')

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7    False
8     True
9    False
dtype: bool

In [9]:
dframe.duplicated('a', keep = 'last')

0     True
1     True
2    False
3     True
4     True
5    False
6     True
7    False
8    False
9    False
dtype: bool

In [11]:
dframe.drop_duplicates('b')

     a  b         c
0  one  x -0.064362
2  one  y -1.613766

In [10]:
dframe

       a  b         c
0    one  x -0.064362
1    one  x -2.263675
2    one  y -1.613766
3    two  x  0.969167
4    two  y  1.124786
5    two  y -1.385822
6  three  x  0.846968
7  three  y -0.093377
8   four  x -1.227077
9   five  x  1.691652

In [12]:
dframe.drop_duplicates('a')

       a  b         c
0    one  x -0.064362
3    two  x  0.969167
6  three  x  0.846968
8   four  x -1.227077
9   five  x  1.691652

In [13]:
dframe.drop_duplicates('a', keep = 'last')

       a  b         c
2    one  y -1.613766
5    two  y -1.385822
7  three  y -0.093377
8   four  x -1.227077
9   five  x  1.691652

In [14]:
dframe.drop_duplicates('a', keep = False)

      a  b         c
8  four  x -1.227077
9  five  x  1.691652

In [15]:
dframe.duplicated(['a','b'])

0    False
1     True
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9    False
dtype: bool

In [17]:
dframe.drop_duplicates(['a','b'])

       a  b         c
0    one  x -0.064362
2    one  y -1.613766
3    two  x  0.969167
4    two  y  1.124786
6  three  x  0.846968
7  three  y -0.093377
8   four  x -1.227077
9   five  x  1.691652

In [16]:
dframe

       a  b         c
0    one  x -0.064362
1    one  x -2.263675
2    one  y -1.613766
3    two  x  0.969167
4    two  y  1.124786
5    two  y -1.385822
6  three  x  0.846968
7  three  y -0.093377
8   four  x -1.227077
9   five  x  1.691652

In [ ]:
# set_index and reset_index methods --

In [18]:
dframe = pd.DataFrame({'key1': [1,2,3,4,5],
                       'key2': ['a','a','b','b','c'],
                       'key3': ['x','y','z','s','k'],
                       'key4': [6,7,8,9,10]})

In [19]:
dframe

   key1 key2 key3  key4
0     1    a    x     6
1     2    a    y     7
2     3    b    z     8
3     4    b    s     9
4     5    c    k    10

In [20]:
dframe.set_index('key4')

      key1 key2 key3
key4
6        1    a    x
7        2    a    y
8        3    b    z
9        4    b    s
10       5    c    k

In [21]:
df_key2 = dframe.set_index('key2')

In [22]:
df_key2

      key1 key3  key4
key2
a        1    x     6
a        2    y     7
b        3    z     8
b        4    s     9
c        5    k    10

In [23]:
df_key24 = dframe.set_index(['key2','key4'])

In [24]:
df_key24

           key1 key3
key2 key4
a    6        1    x
     7        2    y
b    8        3    z
     9        4    s
c    10       5    k

In [25]:
dframe

   key1 key2 key3  key4
0     1    a    x     6
1     2    a    y     7
2     3    b    z     8
3     4    b    s     9
4     5    c    k    10

In [26]:
dframe.set_index('key2', drop = False)

      key1 key2 key3  key4
key2
a        1    a    x     6
a        2    a    y     7
b        3    b    z     8
b        4    b    s     9
c        5    c    k    10

In [27]:
dframe.set_index(['key3','key4'], drop = False)

           key1 key2 key3  key4
key3 key4
x    6        1    a    x     6
y    7        2    a    y     7
z    8        3    b    z     8
s    9        4    b    s     9
k    10       5    c    k    10

In [28]:
dframe.set_index('key4', append = True)

        key1 key2 key3
  key4
0 6        1    a    x
1 7        2    a    y
2 8        3    b    z
3 9        4    b    s
4 10       5    c    k

In [29]:
dframe.set_index(['key2','key4'], append = True)

             key1 key3
  key2 key4
0 a    6        1    x
1 a    7        2    y
2 b    8        3    z
3 b    9        4    s
4 c    10       5    k

In [30]:
df_key2

      key1 key3  key4
key2
a        1    x     6
a        2    y     7
b        3    z     8
b        4    s     9
c        5    k    10

In [31]:
dframe

   key1 key2 key3  key4
0     1    a    x     6
1     2    a    y     7
2     3    b    z     8
3     4    b    s     9
4     5    c    k    10

In [32]:
df_key2.reset_index()

  key2  key1 key3  key4
0    a     1    x     6
1    a     2    y     7
2    b     3    z     8
3    b     4    s     9
4    c     5    k    10

In [33]:
df_key24

           key1 key3
key2 key4
a    6        1    x
     7        2    y
b    8        3    z
     9        4    s
c    10       5    k

In [34]:
df_key24.reset_index()

  key2  key4  key1 key3
0    a     6     1    x
1    a     7     2    y
2    b     8     3    z
3    b     9     4    s
4    c    10     5    k