In [2]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [ ]:
# url = 'http://pandas.pydata.org/pandas-docs/version/0.15.2/merging.html'

In [ ]:
# we will use the merge fn

In [ ]:
# pd.merge(left, right, how, on, left_index, right_index, suffixes, copy, indicator)

In [ ]:
# one to one join, many to one and many to many joins

In [3]:
left = pd.DataFrame({'key1': ['k0','k1','k2','k3'],
                     'A': ['a0','a1','a2','a3'],
                     'B': ['b0','b1','b2','b3']})

In [4]:
right = pd.DataFrame({'key1': ['k0','k1','k2','k3'],
                     'C': ['c0','c1','c2','c3'],
                     'D': ['d0','d1','d2','d3']})

In [5]:
left

    A   B key1
0  a0  b0   k0
1  a1  b1   k1
2  a2  b2   k2
3  a3  b3   k3

In [6]:
right

    C   D key1
0  c0  d0   k0
1  c1  d1   k1
2  c2  d2   k2
3  c3  d3   k3

In [7]:
pd.merge(left, right, on='key1' )

    A   B key1   C   D
0  a0  b0   k0  c0  d0
1  a1  b1   k1  c1  d1
2  a2  b2   k2  c2  d2
3  a3  b3   k3  c3  d3

In [ ]:
# merging with multiple keys

In [8]:
left = pd.DataFrame({'key1': ['k0','k0','k1','k2'],
                     'key2': ['k0','k1','k0','k1'],
                     'A': ['a0','a1','a2','a3'],
                     'B': ['b0','b1','b2','b3']})

In [9]:
right = pd.DataFrame({'key1': ['k0','k1','k1','k2'],
                      'key2': ['k0','k0','k0','k0'],
                     'C': ['c0','c1','c2','c3'],
                     'D': ['d0','d1','d2','d3']})

In [10]:
left

    A   B key1 key2
0  a0  b0   k0   k0
1  a1  b1   k0   k1
2  a2  b2   k1   k0
3  a3  b3   k2   k1

In [11]:
right

    C   D key1 key2
0  c0  d0   k0   k0
1  c1  d1   k1   k0
2  c2  d2   k1   k0
3  c3  d3   k2   k0

In [12]:
pd.merge(left, right, on=['key1','key2'])

    A   B key1 key2   C   D
0  a0  b0   k0   k0  c0  d0
1  a2  b2   k1   k0  c1  d1
2  a2  b2   k1   k0  c2  d2

In [13]:
left = pd.DataFrame({'key1': ['k0','k0','k1','k2'],
                     'key2': ['k0','k1','k0','k0'],
                     'A': ['a0','a1','a2','a3'],
                     'B': ['b0','b1','b2','b3']})

In [14]:
right = pd.DataFrame({'key1': ['k0','k1','k1','k2'],
                      'key2': ['k0','k0','k0','k0'],
                     'C': ['c0','c1','c2','c3'],
                     'D': ['d0','d1','d2','d3']})

In [15]:
left

    A   B key1 key2
0  a0  b0   k0   k0
1  a1  b1   k0   k1
2  a2  b2   k1   k0
3  a3  b3   k2   k0

In [16]:
right

    C   D key1 key2
0  c0  d0   k0   k0
1  c1  d1   k1   k0
2  c2  d2   k1   k0
3  c3  d3   k2   k0

In [17]:
pd.merge(left, right, on = ['key1', 'key2'])

    A   B key1 key2   C   D
0  a0  b0   k0   k0  c0  d0
1  a2  b2   k1   k0  c1  d1
2  a2  b2   k1   k0  c2  d2
3  a3  b3   k2   k0  c3  d3

In [ ]:
# how argument

In [ ]:
# pd.merge(left, right, how = 'left = loj, right = roj, outer = foj or inner = ij')

In [18]:
left = pd.DataFrame({'key1': ['k0','k0','k1','k2'],
                     'key2': ['k0','k1','k0','k1'],
                     'A': ['a0','a1','a2','a3'],
                     'B': ['b0','b1','b2','b3']})

In [ ]:
right = pd.DataFrame({'key1': ['k0','k1','k1','k2'],
                      'key2': ['k0','k0','k0','k0'],
                     'C': ['c0','c1','c2','c3'],
                     'D': ['d0','d1','d2','d3']})

In [19]:
left

    A   B key1 key2
0  a0  b0   k0   k0
1  a1  b1   k0   k1
2  a2  b2   k1   k0
3  a3  b3   k2   k1

In [20]:
right

    C   D key1 key2
0  c0  d0   k0   k0
1  c1  d1   k1   k0
2  c2  d2   k1   k0
3  c3  d3   k2   k0

In [21]:
pd.merge(left, right, how='left', on=['key1','key2'])

    A   B key1 key2    C    D
0  a0  b0   k0   k0   c0   d0
1  a1  b1   k0   k1  NaN  NaN
2  a2  b2   k1   k0   c1   d1
3  a2  b2   k1   k0   c2   d2
4  a3  b3   k2   k1  NaN  NaN

In [ ]:
# right

In [22]:
left

    A   B key1 key2
0  a0  b0   k0   k0
1  a1  b1   k0   k1
2  a2  b2   k1   k0
3  a3  b3   k2   k1

In [23]:
right

    C   D key1 key2
0  c0  d0   k0   k0
1  c1  d1   k1   k0
2  c2  d2   k1   k0
3  c3  d3   k2   k0

In [24]:
pd.merge(left, right, how='right', on=['key1','key2'])

     A    B key1 key2   C   D
0   a0   b0   k0   k0  c0  d0
1   a2   b2   k1   k0  c1  d1
2   a2   b2   k1   k0  c2  d2
3  NaN  NaN   k2   k0  c3  d3

In [25]:
pd.merge(left, right, how='outer', on=['key1','key2'])

     A    B key1 key2    C    D
0   a0   b0   k0   k0   c0   d0
1   a1   b1   k0   k1  NaN  NaN
2   a2   b2   k1   k0   c1   d1
3   a2   b2   k1   k0   c2   d2
4   a3   b3   k2   k1  NaN  NaN
5  NaN  NaN   k2   k0   c3   d3

In [26]:
pd.merge(left, right, how='inner', on=['key1', 'key2'])

    A   B key1 key2   C   D
0  a0  b0   k0   k0  c0  d0
1  a2  b2   k1   k0  c1  d1
2  a2  b2   k1   k0  c2  d2

In [ ]:
# indicator = _merge indication = True, _merge = left_only, right_only or both

In [27]:
dframe1 = pd.DataFrame({'col': [0,1],
                        'col_left': ['a','b']})

In [28]:
dframe2 = pd.DataFrame({'col': [1,2,2],
                        'col_right': [2,2,2]})

In [29]:
dframe1

   col col_left
0    0        a
1    1        b

In [30]:
dframe2

   col  col_right
0    1          2
1    2          2
2    2          2

In [31]:
pd.merge(dframe1, dframe2, on='col', how='outer', indicator=True)

   col col_left  col_right      _merge
0  0.0        a        NaN   left_only
1  1.0        b        2.0        both
2  2.0      NaN        2.0  right_only
3  2.0      NaN        2.0  right_only

In [32]:
pd.merge(dframe1, dframe2, on='col', how='outer', indicator='indicator_merge')

   col col_left  col_right indicator_merge
0  0.0        a        NaN       left_only
1  1.0        b        2.0            both
2  2.0      NaN        2.0      right_only
3  2.0      NaN        2.0      right_only

In [ ]:
# joining on index  df.join(df2)

In [34]:
left = pd.DataFrame({'A': ['a0','a1','a2'],
                     'B': ['b0','b1','b2']},
                    index = ['k0','k1','k2'])

In [35]:
right = pd.DataFrame({'C': ['c0','c2','c3'],
                     'D': ['d0','d2','d3']},
                    index = ['k0','k2','k3'])

In [36]:
left

     A   B
k0  a0  b0
k1  a1  b1
k2  a2  b2

In [37]:
right

     C   D
k0  c0  d0
k2  c2  d2
k3  c3  d3

In [38]:
left.join(right, how='outer')

      A    B    C    D
k0   a0   b0   c0   d0
k1   a1   b1  NaN  NaN
k2   a2   b2   c2   d2
k3  NaN  NaN   c3   d3

In [39]:
left.join(right, how='inner')

     A   B   C   D
k0  a0  b0  c0  d0
k2  a2  b2  c2  d2

In [41]:
pd.merge(left, right, left_index= True, right_index = True, how='outer')

      A    B    C    D
k0   a0   b0   c0   d0
k1   a1   b1  NaN  NaN
k2   a2   b2   c2   d2
k3  NaN  NaN   c3   d3

In [42]:
pd.merge(left, right, left_index=True, right_index=True, how='inner')

     A   B   C   D
k0  a0  b0  c0  d0
k2  a2  b2  c2  d2

In [ ]:
# joining key columns on an index

In [43]:
left = pd.DataFrame({'A': ['a0','a1','a2','a3'],
                     'B': ['b0','b1','b2','b3'],
                     'key': ['k0','k1','k0','k1']})

In [44]:
right = pd.DataFrame({'C': ['c0','c1'],
                      'D': ['d0','d1']},
                     index = ['k0','k1'])

In [45]:
left

    A   B key
0  a0  b0  k0
1  a1  b1  k1
2  a2  b2  k0
3  a3  b3  k1

In [46]:
right

     C   D
k0  c0  d0
k1  c1  d1

In [47]:
left.join(right, on='key')

    A   B key   C   D
0  a0  b0  k0  c0  d0
1  a1  b1  k1  c1  d1
2  a2  b2  k0  c0  d0
3  a3  b3  k1  c1  d1

In [48]:
pd.merge(left, right, left_on='key', right_index=True, how='left', sort=False)

    A   B key   C   D
0  a0  b0  k0  c0  d0
1  a1  b1  k1  c1  d1
2  a2  b2  k0  c0  d0
3  a3  b3  k1  c1  d1

In [ ]:
# Suffixes

In [49]:
left = pd.DataFrame({'k': ['k0','k1','k2'],
                     'v': [1,2,3]})

In [50]:
right = pd.DataFrame({'k': ['k0','k0','k3'],
                      'v': [5,6,7]})

In [51]:
pd.merge(left, right, on='k')

    k  v_x  v_y
0  k0    1    5
1  k0    1    6

In [52]:
left

    k  v
0  k0  1
1  k1  2
2  k2  3

In [53]:
right

    k  v
0  k0  5
1  k0  6
2  k3  7

In [54]:
pd.merge(left, right, on='k', suffixes=['_left','_right'])

    k  v_left  v_right
0  k0       1        5
1  k0       1        6