In [12]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

Pivot takes 3 arguements:index, columns, and values. 

As a value for each of the parameters, we need to specify a column name in the original table.

The pivot function will create a new table: row and column indices
    
are the unique values of the respective parameters. 

The cell values are taken from column given as the values parameter.

In [ ]:
# http://pandas.pydata.org/pandas-docs/stable/reshaping.html

In [ ]:
# url ='http://pandas.pydata.org/pandas-docs/version/0.15.2/reshaping.html'

In [13]:
import pandas.util.testing as tm; tm.N = 3
def unpivot(frame):
    N, K = frame.shape
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    return pd.DataFrame(data, columns=['date', 'variable', 'value'])
dframe = unpivot(tm.makeTimeDataFrame())

In [14]:
dframe

         date variable     value
0  2000-01-03        A  0.009902
1  2000-01-04        A -0.196485
2  2000-01-05        A -0.364543
3  2000-01-03        B -0.252923
4  2000-01-04        B  1.621359
5  2000-01-05        B -0.583608
6  2000-01-03        C -0.884657
7  2000-01-04        C -0.363918
8  2000-01-05        C -0.615674
9  2000-01-03        D  1.785574
10 2000-01-04        D -1.109908
11 2000-01-05        D  0.356166

In [15]:
dframe.pivot(index = 'date', columns = 'variable', values = 'value')

variable           A         B         C         D
date
2000-01-03  0.009902 -0.252923 -0.884657  1.785574
2000-01-04 -0.196485  1.621359 -0.363918 -1.109908
2000-01-05 -0.364543 -0.583608 -0.615674  0.356166

In [16]:
tuples = list(zip(*[['Outer1', 'Outer1', 'Outer2', 'Outer2',
                    'Inner1', 'Inner1', 'Inner2', 'Inner2'],
                     ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))

In [17]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

In [18]:
df

                      A         B
first  second
Outer1 one     2.694518  0.306285
       two    -0.234823  0.705911
Outer2 one     1.864810  0.000727
       two     0.195251 -1.217261
Inner1 one    -1.397823  0.668606
       two     0.234366 -0.853715
Inner2 one     1.420137  0.133967
       two     1.475832 -0.319819

In [ ]:
#Stacking a DataFrame means moving  

the innermost column index to become the innermost row index.

The inverse operation is called unstacking. 
It means moving the innermost row index to become the innermost column index.

In [10]:
columns = pd.MultiIndex.from_tuples([
            ('X', 'CA', 'Far'), ('Y', 'CA', 'Far'),
            ('X', 'NY', 'Close'), ('Y', 'NY', 'Close')],
        names=['example', 'State', 'Location'])

dframe = pd.DataFrame(np.random.randn(4, 4), columns=columns)

In [11]:
dframe

example          X         Y         X         Y
State           CA        CA        NY        NY
Location       Far       Far     Close     Close
0         1.726919 -1.673916  1.099400 -1.565629
1        -1.665914 -1.818213 -0.311862 -0.068622
2        -1.415536 -1.026279 -0.483503 -0.250016
3         0.579590 -0.414083  1.551475  1.470858

In [19]:

row = list(zip(['x0', 'x0'], ['x-00', 'x-02']))
row_index = pd.MultiIndex.from_tuples(row)

col = list(zip(['y0', 'y0', 'y1'], ['y-00', 'y-03', 'y-05']))
col_index = pd.MultiIndex.from_tuples(col)

# Create the DataFrame
dframe = DataFrame(np.arange(6).reshape(2,3), index=row_index, columns=col_index)
dframe = dframe.applymap(lambda x: (x // 3, x % 3))

In [20]:
dframe

             y0              y1
           y-00    y-03    y-05
x0 x-00  (0, 0)  (0, 1)  (0, 2)
   x-02  (1, 0)  (1, 1)  (1, 2)

In [23]:
x = dframe.stack()

In [25]:
x

                  y0      y1
x0 x-00 y-00  (0, 0)     NaN
        y-03  (0, 1)     NaN
        y-05     NaN  (0, 2)
   x-02 y-00  (1, 0)     NaN
        y-03  (1, 1)     NaN
        y-05     NaN  (1, 2)

In [24]:
x.unstack()

             y0                y1
           y-00    y-03 y-05 y-00 y-03    y-05
x0 x-00  (0, 0)  (0, 1)  NaN  NaN  NaN  (0, 2)
   x-02  (1, 0)  (1, 1)  NaN  NaN  NaN  (1, 2)

In [7]:
dframe

             y0              y1
           y-00    y-03    y-05
x0 x-00  (0, 0)  (0, 1)  (0, 2)
   x-02  (1, 0)  (1, 1)  (1, 2)